<div class="form-group">
    <label for="field-preselect" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.CHECKBOX.SETTINGS.PRESELECT"></label>
    <div class="col-sm-9">
        <div class="checkbox">
            <label>
              <coyo-checkbox id="field-preselect" name="field-preselect" ng-model="model.preselect"></coyo-checkbox>
              {{:: 'APP.COMMONS.FIELDS.CHECKBOX.SETTINGS.PRESELECT.LABEL' | translate}}
            </label>
        </div>
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="APP.COMMONS.FIELDS.CHECKBOX.SETTINGS.PRESELECT.HELP"></coyo-help>
    </div>
</div>
