<div class="form-group">
    <label for="field-multiple" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.FILE.SETTINGS.MULTI"></label>
    <div class="col-sm-9">
        <div class="checkbox">
            <label>
                <coyo-checkbox id="field-multiple" name="field-multiple" ng-model="model.multiple"></coyo-checkbox>
                {{:: 'APP.COMMONS.FIELDS.FILE.SETTINGS.MULTI.LABEL' | translate}}
            </label>
        </div>
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="APP.COMMONS.FIELDS.FILE.SETTINGS.MULTI.HELP"></coyo-help>
    </div>
</div>