<li class="nav-item nav-item-icon nav-item-messaging hidden-lg" coyo-global-permissions="USE_MESSAGING">
  <a href ng-click="$ctrl.openMessagingSidebar()">
    <i class="zmdi zmdi-hc-fw zmdi-comment-text" aria-hidden="true"></i>
    <span class="messaging-navbar-item-unread" ng-if="$ctrl.unreadCount > 0" aria-hidden="true">
      <span ng-if="$ctrl.unreadCount < 100">{{$ctrl.unreadCount}}</span>
      <span ng-if="$ctrl.unreadCount >= 100">+</span>
    </span>
    <span class="sr-only"
          translate="NAVIGATION.MESSENGER.NEW_MESSAGES.ARIA"
          translate-values="{count: $ctrl.unreadCount}"></span>
  </a>
</li>
