<coyo-render-value ng-if="::!$ctrl.showInlineEdit()" class="cell-content" value="$ctrl.fieldValue.value" field="$ctrl.field" config="$ctrl.renderConfig"></coyo-render-value>
<coyo-list-inline-edit ng-if="::$ctrl.showInlineEdit()" class="cell-content" app="$ctrl.app" entry="$ctrl.entry" field="$ctrl.field" on-save="$ctrl.onSave"></coyo-list-inline-edit>