@import "variables";
@import "mixins";

:host {
  display: flex;
  padding: 12px 16px;
  position: relative;
}

coyo-sender-avatar {
  margin-right: 12px;
}

coyo-sender-link {
  margin-right: 10px;
}

.comment {
  @include break-word();
  min-width: 0;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-title {
  margin: 0 24px 4px 0;
  color: $n200;
  line-height: 24px;
}

.divider {
  padding: 0 2px;
  color: $n200;
}

.space-right {
  margin-right: 10px;
}

.comment-time {
  white-space: nowrap;
}

coyo-file-preview-list {
  margin-top: 8px;
}

coyo-jit-translation-toggle {
  @include xs() {
    display: inline-flex;
  }
}

.actions {
  display: flex;
  margin-top: 4px;

  @include xs() {
    margin-left: -8px;
  }
}
