<div class="widget-hashtag">
  <h4 class="widget-title">
   {{ getTitle() || ("WIDGET.NEW.COLLEAGUES.TITLE" | translate)}}
  </h4>
</div>
<ng-container *ngIf="(state$ | async) as state">
  <coyo-user-list (load)="onLoadMore()" [state]="state"></coyo-user-list>
</ng-container>
