@import "variables";
@import "mixins";

.user-list-container {
  margin-left: -30px;
  margin-right: -30px;
}


coyo-user-list-item {
  &:not(:last-of-type) {
    border-bottom: 1px solid $n50;
  }

  width: 100%;
  display: block;
}

.load-more {
  padding-left: 0px;
}

.skeleton {
  @include skeleton((
    (x: 0, y: 16px, width: 40px, height: 40px), (x: 56px, y: 20px, width: 120px, height: 14px), (x: 56px, y: 42px, width: 150px, height: 12px),
    (x: 0, y: 89px, width: 40px, height: 40px), (x: 56px, y: 93px, width: 120px, height: 14px), (x: 56px, y: 115px, width: 150px, height: 12px),
    (x: 0, y: 152px, width: 40px, height: 40px), (x: 56px, y: 166px, width: 120px, height: 14px), (x: 56px, y: 188px, width: 150px, height: 12px),
  ), 218px);
}
