@import "variables";
@import "mixins";

span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;

  .mat-icon {
    color: $n0;
  }
}

:host-context(coyo-launchpad-link) {
  margin-right: 16px;

  @include sm-and-up() {
    margin-right: 24px;
  }
}

:host-context(coyo-launchpad-link-manager) {
  span {
    width: 56px;
    height: 56px;
    cursor: pointer;

    .mat-icon {
      width: 24px;
      height: 24px;
    }
  }
}

/**
 * ===== condensed view styles
 */

/* clean-css ignore:start */
:host-context(.condensed coyo-launchpad-link) {
  margin-right: 12px;

  @include sm-and-up() {
    margin-right: 16px;
  }

  span {
    width: 20px;
    height: 20px;

    .mat-icon {
      width: 12px;
    }
  }
}
/* clean-css ignore:end */
