<span class="label label-muted event-date-label" *ngIf="startDatePattern || endDatePattern">
  <i class="zmdi zmdi-wide zmdi-time"></i>
  <span *ngIf="event.startDate">{{startDate | amDateFormat: startDatePattern}}</span>
  <span *ngIf="event.endDate" translate="EVENT.TO"></span>
  <span *ngIf="event.endDate">{{endDate  | amDateFormat: endDatePattern }}</span>
</span>
