<span class="divider-line" [style.margin-right.px]="content.innerHTML.trim() ? 8 : null"></span>
<span class="divider-content" #content><ng-content></ng-content></span>
<span class="divider-line" [style.margin-left.px]="content.innerHTML.trim() ? 8 : null"></span>
