<div class="sender-navigation panel-navigation-mobil">
  <ul class="nav nav-default nav-tabs nav-justified nav-sender">
    <li ng-repeat="app in $ctrl.apps" ui-sref-active="{'active': $ctrl.getRootState(app)}"
        ng-class="{ 'hidden-xs': $index > 2, 'hidden-sm': $index > 5, 'app-inactive': !app.active }">
      <a coyo-app-href="app" sender-type="{{$ctrl.sender.typeName}}">
        <i class="zmdi" ng-class="$ctrl.getIcon(app)"></i>
        <span>{{::app.displayName}}</span>
      </a>
    </li>
    <li ng-class="{'hidden-xs': $ctrl.appLength <= 3 && !$ctrl.sender._permissions.manageApps
                    && !$ctrl.currentApp._permissions.manage && $ctrl.sender.typeName === 'page',
                    'hidden-sm': $ctrl.appLength <= 6 && !$ctrl.sender._permissions.manageApps
                    && !$ctrl.currentApp._permissions.manage && $ctrl.sender.typeName === 'page'}">
      <a class="dropdown-more" ng-click="$ctrl.openNavigationAndOptions($ctrl.currentApp)">
        <i class="zmdi zmdi-more"></i>
      </a>
    </li>
  </ul>
</div>
