<div class="modal-content-wrapper championship-app-modal">
    <div class="modal-header">
        <div class="user">
            <div class="user-info-icon">
                <coyo-user-avatar [user]="::$ctrl.userRanking.user" avatar-size="sm" [no-link]="false"></coyo-user-avatar>
            </div>
            <div class="user-header">
                <coyo-sender-link ng-if="::$ctrl.userRanking.user" custom-class="user-label" [sender]="::$ctrl.userRanking.user"></coyo-sender-link>
            </div>
            <div class="user-footer">
                <span class="user-label" translate="APP.CHAMPIONSHIP.RANKING.RANK"></span>: #{{::$ctrl.userRanking.rank}},
                <span class="user-label" translate="APP.CHAMPIONSHIP.RANKING.POINTS"></span>: {{::$ctrl.userRanking.points}}
            </div>
        </div>
        <span class="modal-close" ng-click="$dismiss()">
            <i class="zmdi zmdi-close img-close"></i>
        </span>
    </div>
    <div class="modal-body">
        <div ng-if="!$ctrl.page.content.length" class="text-center text-muted mt-m mb-xs"
             translate="APP.CHAMPIONSHIP.NO_GAMES">
        </div>

        <div class="games" ng-if="$ctrl.page.content.length">
            <div ng-repeat="date in $ctrl.dates">
                <div class="game-date">{{::date}}</div>
                <div class="row game-row" ng-repeat="game in $ctrl.groupedGames[date]">
                    <div class="col-md-12 text-center text-muted game-time">
                        <span class="location" translate="{{:: game.label }}"></span> &ndash;
                        <span class="time">{{:: game.date | amTimezone: $root.timezone | amDateFormat: $root.timeFormat.short }}</span>
                    </div>
                    <div class="col-md-12 game">
                        <div class="home-team">
                            <span class="score">
                                {{:: game.homeScore }}<br>
                                <small class="game-color-{{:: game.guess.points }}">{{:: game.guess.homeScore }}</small>
                            </span>
                            <coyo-country-flag ng-if="::game.homeTeam" country="::game.homeTeam.logo" form="rounded"></coyo-country-flag>
                            <span ng-if="::!game.homeTeam" class="country-flag flag-icon-rounded flag-icon-empty">?</span>
                            <span class="name-long" translate="{{:: game.homeTeam.name }}"></span>
                            <span class="name-short" translate="{{:: game.homeTeam.shortName }}"></span>
                        </div>
                        <div class="team-divider">:</div>
                        <div class="away-team">
                            <span class="score">
                                {{:: game.awayScore }}<br>
                                <small class="game-color-{{:: game.guess.points }}">{{:: game.guess.awayScore }}</small>
                            </span>
                            <coyo-country-flag ng-if="::game.awayTeam" country="::game.awayTeam.logo" form="rounded"></coyo-country-flag>
                            <span ng-if="::!game.awayTeam" class="country-flag flag-icon-rounded flag-icon-empty">?</span>
                            <span class="name-long" translate="{{:: game.awayTeam.name }}"></span>
                            <span class="name-short" translate="{{:: game.awayTeam.shortName }}"></span>
                        </div>
                    </div>
                    <div class="game-points game-color-{{:: game.guess.points }}" ng-if="game.guess.points !== null">
                        <span ng-if="game.guess.points > 0">+</span>{{:: game.guess.points }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <coyo-table-pagination ng-if="$ctrl.page" page="$ctrl.page" on-change="$ctrl.onChange($ctrl.page)"></coyo-table-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
