<div class="text-center mt-m mb-xs" ng-if="$ctrl.loading">
    <coyo-spinner></coyo-spinner>
</div>

<div ng-if="!$ctrl.loading && !$ctrl.page.content.length" class="text-center text-muted mt-m mb-xs"
     translate="APP.CHAMPIONSHIP.NO_GAMES">
</div>

<div class="games" ng-if="!$ctrl.loading && $ctrl.page.content.length">
    <div ng-repeat="date in $ctrl.dates">
        <div class="game-date">{{::date}}</div>
        <div class="row game-row" ng-repeat="game in $ctrl.groupedGames[date]" ng-init="isLocked = $ctrl.isLocked(game)" ng-if="!vm.loading">
            <div class="col-md-12 text-center text-muted game-time">
                <span class="location" translate="{{:: game.label }}"></span> &ndash;
                <span class="time">{{:: game.date | amTimezone: $root.timezone | amDateFormat: $root.timeFormat.short }}</span>
            </div>
            <div class="col-md-12 game">
                <div class="home-team">
                    <span class="score" ng-if="::isLocked">
                        {{:: game.homeScore !== null ? game.homeScore : '-' }}<br>
                        <small class="game-color-{{:: game.guess.points }}">{{:: game.guess.homeScore }}</small>
                    </span>
                    <input name="homeScore" name="homeScore" class="form-control score-input" ng-if="::!isLocked"
                           type="number" min="0" max="999" step="1"
                           ng-model="game.guess._homeScore"
                           ng-model-options="{updateOn: 'default blur', debounce: {'default': $root.debounce.sm, 'blur': 0}}"
                           ng-change="$ctrl.submitGuess(game)">
                    <coyo-country-flag ng-if="::game.homeTeam" country="::game.homeTeam.logo" form="rounded"></coyo-country-flag>
                    <span ng-if="::!game.homeTeam" class="country-flag flag-icon-rounded flag-icon-empty">?</span>
                    <span class="name-long" translate="{{:: game.homeTeam.name }}"></span>
                    <span class="name-short" translate="{{:: game.homeTeam.shortName }}"></span>
                </div>
                <div class="team-divider">:</div>
                <div class="away-team">
                    <span class="score" ng-if="::isLocked">
                        {{:: game.awayScore !== null ? game.awayScore : '-' }}<br>
                        <small class="game-color-{{:: game.guess.points }}">{{:: game.guess.awayScore }}</small>
                    </span>
                    <input name="awayScore" name="awayScore" class="form-control score-input" ng-if="::!isLocked"
                           type="number" min="0" max="999" step="1"
                           ng-model="game.guess._awayScore"
                           ng-model-options="{updateOn: 'default blur', debounce: {'default': $root.debounce.sm, 'blur': 0}}"
                           ng-change="$ctrl.submitGuess(game)">
                    <coyo-country-flag ng-if="::game.awayTeam" country="::game.awayTeam.logo" form="rounded"></coyo-country-flag>
                    <span ng-if="::!game.awayTeam" class="country-flag flag-icon-rounded flag-icon-empty">?</span>
                    <span class="name-long" translate="{{:: game.awayTeam.name }}"></span>
                    <span class="name-short" translate="{{:: game.awayTeam.shortName }}"></span>
                </div>
                <div class="saved-indicator small"
                     ng-class="{'saved-success text-success': game.saved === true, 'saved-error text-danger': game.saved === false}"
                     translate="{{ game.saved === true ? 'APP.CHAMPIONSHIP.GAME_SAVED' : 'APP.CHAMPIONSHIP.GAME_NOT_SAVED' }}"></div>
            </div>
            <div class="game-points game-color-{{:: game.guess.points }}" ng-if="game.guess.points !== null">
                <span ng-if="game.guess.points > 0">+</span>{{:: game.guess.points }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <coyo-table-pagination ng-if="$ctrl.page" page="$ctrl.page" on-change="$ctrl.onChange($ctrl.page)"></coyo-table-pagination>
        </div>
    </div>
</div>
