@import "variables";

:host {
  display: inline-flex;
  vertical-align: top;
}

:host-context(coyo-like-container),
:host-context(coyo-timeline-item-footer) .mat-button {
  font-size: inherit;
}

:host-context(coyo-comment) {
  .mat-button {
    font-size: inherit;
    line-height: inherit;
  }
  .mat-icon {
    display: none;
  }
}

.mat-button[mat-button] {
  min-width: initial;
}

.mat-icon {
  color: $coyo-link-color;
}
