<ng-container *ngxPermissionsOnly="['LIKE']">
  <!-- tracking information -->
  <div style="display: none"
       [attr.data-like-target-id]="target.id"
       [attr.data-like-target-type]="target.typeName"
       [attr.data-like-count]="state.totalCount"></div>
  <!-- Unfortunately we have to clone the button to correctly place the tooltip -->
  <!-- TODO: This might not be the case anymore since the tooltips have been migrated to angular material -->
  <button mat-button mat-link-button type="button" size="small" (click)="openLikes()" data-test="like-info-button"
          *ngIf="condensed && info?.count"
          [matTooltip]="tooltipOthersCondensed"
          [matTooltipDisabled]="!state.totalCount"
          matTooltipClass="like-info-tooltip"><mat-icon svgIcon="thumbs-up-circled"></mat-icon>{{info.count}}</button>
  <button mat-button type="button" size="small" (click)="openLikes()" data-test="like-info-button"
          *ngIf="!condensed && info?.count"
          [matTooltip]="tooltipOthers"
          [matTooltipDisabled]="state.othersCount < 2"
          matTooltipClass="like-info-tooltip"><mat-icon svgIcon="thumbs-up-circled"></mat-icon>{{'MODULE.SOCIAL.LIKE.TEXT' | translate : info}}</button>
</ng-container>
