.state-main-search {
  .search-term-panel {
    .panel-heading {
      padding-top: 16px !important;
      padding-bottom: 16px !important;
      display: flex;
      align-items: center;

      h2 {
        font-size: 22px;
        line-height: 28px;
        margin: 0;
        padding-right: 16px;
        @include ellipsis();
      }

      .search-help-hint {
        font-size: 14px;
        flex-shrink: 0;
        margin-left: auto;
      }
    }
  }

  .panel-heading {
    position: relative;
    padding-bottom: 8px;
    border-bottom: 0;

    &:last-child {
      padding-bottom: 12px;
    }

    @media screen and (min-width: $screen-sm-min) {
      padding-bottom: 0;

      &:last-child {
        padding-bottom: 24px;
      }
    }

    .search-results-headline {
      text-transform: none;
      font-size: 1rem;
      margin-bottom: 0;
      margin-top: 0;

      .strong {
        font-weight: bold;
      }
    }
  }

  .search-result {
    border-bottom: 1px solid $color-gray-lighter;
    padding: 24px 0;
    @include break-word();

    &:first-child {
      padding-top: 12px;
    }

    &:last-child {
      padding-bottom: 12px;
      border: 0;
    }

    &:hover:not(.no-link) {
      cursor: pointer;
    }

    .search-result-name {
      color: $text-color;
    }
  }

  .search-result-body {
    padding-left: 4px;
    margin-bottom: -3px;
    display: flex;

    .search-result-icon {
      flex: none;
      margin-right: 24px;

      color: $color-gray;
      font-size: 24px;
      text-align: left;

      align-self: center;
    }

    .search-result-middle {
      flex: 1;
      min-width: 0;
    }

    .search-result-right {
      width: 100px;
      text-align: right;
    }

    .search-result-sender {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .search-result-excerpt {
      font-size: 14px;
      color: $color-gray;
    }

    .search-result-excerpt em, .search-result-name em {
      background-color: $color-text-highlight-bg;
      border-radius: 2px;
      font-style: normal;
    }

    @media print, screen and (min-width: $screen-sm-min) {
      .search-result-right {
        width: 150px;
      }

      .search-result-modified {
        width: 150px;
        flex: none;

        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.search-result-modified {
  font-size: 14px;
  color: $color-gray;
}

.search-term {
  display: flex;
}

.content-sidebar ~ .content-main .panel.empty-search-and-suggestions {
  @media print, screen and (min-width: $screen-sm-min) {
    width: 100%;
  }
}

.panel.empty-search-and-suggestions {
  width: 100%;
  @media print, screen and (min-width: $screen-sm-max) {
    margin: 0 auto 24px;
  }
  margin: 0 auto 12px;
  padding: 64px 0;
  text-align: center;

  .content-main.has-search-results & {
    @media print, screen and (min-width: $screen-sm-min) {
      width: 100%;
    }
    padding: 0;
    text-align: left;

    .suggestions-headline {
      font-size: $font-size-h4;
    }

    .suggestions {
      justify-content: left;
    }
  }

  .content-main:not(.has-search-results) & {
    .suggestions-wrapper {
      padding-top: 24px;
    }
  }

  .title {
    font-size: $font-size-h4;

    @media print, screen and (max-width: $screen-sm-max) {
      .bold {
        display: block;
      }
    }
  }

  .suggestions {
    display: flex;
    justify-content: center;

    .search-term {
      text-decoration: line-through;
    }

    .term-suggestions-separator {
      padding: 18px 8px;
    }

    .search-term,
    .suggestion {
      margin: 8px;
      background-color: $color-gray-lighter;
      padding: 4px 8px;
      border-radius: 8px;
    }

    .search-term {
      margin-left: 0;
    }
  }

  .reset-filters {
    display: block;
    margin-top: 16px;
  }

  .search-result-not-found {
    overflow-wrap: break-word;
  }
}
