<span ng-if="$ctrl.workspace.membershipStatus === 'NONE'"
      class="workspace-actions">

  <coyo-tour-step topic="workspaces" order="115" placement="bottom" step-id="workspaces.join"
                    image-url="/assets/images/tour/tour-workspaces-join.jpg"
                    title="{{:: 'TOUR.WORKSPACES.JOIN.TITLE' | translate }}"
                    content="{{:: 'TOUR.WORKSPACES.JOIN' | translate }}"></coyo-tour-step>
  <coyo-tour-step topic="workspaces" order="120" placement="bottom" step-id="workspaces.request"
                image-url="/assets/images/tour/tour-workspaces-request.jpg"
                title="{{:: 'TOUR.WORKSPACES.REQUEST.TITLE' | translate }}"
                content="{{:: 'TOUR.WORKSPACES.REQUEST' | translate }}"></coyo-tour-step>
  <coyo-tour-step topic="workspaces" order="125" placement="bottom" step-id="workspaces.invited"
                image-url="/assets/images/tour/tour-workspaces-invited.jpg"
                title="{{:: 'TOUR.WORKSPACES.INVITED.TITLE' | translate }}"
                content="{{:: 'TOUR.WORKSPACES.INVITED' | translate }}"></coyo-tour-step>
    <!-- Join Button -->
  <a ng-click="$ctrl.join()"
     class="btn btn-default btn-zmdi btn-sm tour-placeholder-container"
     uib-tooltip="{{:: 'WORKSPACE.ACTION.JOIN.NONE' | translate }}"
     tooltip-placement="left"
     tooltip-append-to-body="true"
     tooltip-popup-delay="500">
      <span ng-if=":: $ctrl.workspace.visibility === 'PUBLIC'">
          <i class="zmdi zmdi-hc-fw zmdi-plus"></i>&nbsp;{{:: 'WORKSPACE.JOIN.JOIN' | translate}}
      </span>
      <span ng-if=":: $ctrl.workspace.visibility === 'PROTECTED'">
              <i class="zmdi zmdi-hc-fw zmdi-lock"></i>&nbsp;{{:: 'WORKSPACE.JOIN.REQUEST' | translate }}
      </span>
  </a>
</span>
<div ng-if="$ctrl.workspace.membershipStatus === 'INVITED'">
    <ui-select ng-model="$ctrl.selected" on-select="$ctrl.selectionChanged()" search-enabled="false" class="hidden-xs workspace-invite-select">
        <ui-select-match placeholder="{{::'WORKSPACE.JOIN.INVITED' | translate }}">{{::item.msgKey | translate}}
        </ui-select-match>
        <ui-select-choices repeat="option in $ctrl.choices">
            <span><i class="zmdi zmdi-hc-fw" ng-class="::option.icon"></i>&nbsp;{{::option.msgKey | translate}}</span>
        </ui-select-choices>
    </ui-select>
    <div class="hidden-sm hidden-lg hidden-md hidden-print btn btn-primary btn-sm" ng-click="$ctrl.join()">
        <i class="zmdi zmdi-hc-fw zmdi-email"></i>&nbsp;{{::'WORKSPACE.JOIN.ACCEPT' | translate}}
    </div>
</div>
<span ng-if=":: $ctrl.workspace.membershipStatus === 'APPROVED'" class="workspace-actions workspace-approved">
    <i class="zmdi zmdi-hc-fw zmdi-check"></i>{{:: 'WORKSPACE.JOIN.APPROVED' | translate}}
</span>
<span ng-if="$ctrl.workspace.membershipStatus === 'REQUESTED'"
      class="workspace-actions workspace-requested" ng-click="$ctrl.leave()">
    <div class="btn btn-default btn-sm">
        <i class="zmdi zmdi-hc-fw zmdi-close"></i>{{:: 'WORKSPACE.JOIN.REQUEST.CANCEL' | translate}}
    </div>
</span>

