<div class="modal-content-wrapper admin-widget-settings-modal">
  <div class="modal-header">
    <h3 class="modal-title" translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.HEADLINE"></h3>
    <span class="modal-close" ng-click="$dismiss('cancel')"><i class="zmdi zmdi-close img-close"></i></span>
  </div>
  <div class="modal-body">
    <p translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.DESC.FORMAT"></p>
    <p translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.DESC.FIELDS.HEADER"></p>
    <p translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.DESC.FIELDS.ORDER"></p>
    <ul>
      <li translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.IDENTIFIER"></li>
      <li translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.FIRSTNAME"></li>
      <li translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.LASTNAME"></li>
      <li translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.LOGINNAME"></li>
      <li>{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.EMAIL' | translate }} {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.OPTIONAL' | translate }}</li>
      <li>{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.GROUPS' | translate }} {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.OPTIONAL' | translate }}</li>
      <li>{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.PASSWORD' | translate }} {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.OPTIONAL' | translate }}</li>
    </ul>
    <p translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.DELIMITER"></p>
    <p translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.TERMINATION"></p>
    <p translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.GROUPS"></p>
    <p translate="ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.PASSWORD"></p>

    <h4>{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.SYNTAX' | translate }}:</h4>

    <pre>{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.IDENTIFIER' | translate}},{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.FIRSTNAME' | translate}},{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.LASTNAME' | translate}},{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.LOGINNAME' | translate}},{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.EMAIL' | translate}},{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.GROUPS' | translate}},{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.FIELD.PASSWORD' | translate}}</pre>

    <h4>{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.EXAMPLE' | translate }}:</h4>

    <pre>c4d5b2f0-556b,Connie,Coleman,cc,connie.coleman@coyoapp.com,Admin,password123
94e848e9-0092,Stephen,Lee,sl,stephen.lee@coyoapp.com,User|Marketing,password123
6f7ac6d9-2b33,Dominic,Sherman,ds,dominic.sherman@coyoapp.com,User|Sales,
e3432953-4107,Tim,Sutton,ts,,,password123
8e813636-8a4e,Natalie,Henderson,nh,,Admin|Developer,demo123</pre>

  </div>
</div>
