<uib-tabset justified="true" type="tabs">
  <uib-tab select="$ctrl.activeTab = 'fileupload'">
    <uib-tab-heading>
      <i class="zmdi zmdi-upload zmdi-wide"></i>
      <span class="tab-text" translate="ADMIN.USER_DIRECTORIES.CSV.TABS.FILE.UPLOAD.HEADING"></span>
      <i ng-if="!$ctrl.ngModel.csvFile.name && !$ctrl.ngModel.settings.fileUid && $ctrl.ngModel.active || ($ctrl.validationErrors | json ) != '{}'"
         class="tab-indicator zmdi zmdi-alert-triangle"
         uib-tooltip="{{:: 'ADMIN.USER_DIRECTORIES.LDAP.TABS.CONNECTION.INVALID' | translate}}"
         tooltip-placement="top"
         tooltip-append-to-body="true"></i>
    </uib-tab-heading>
  </uib-tab>
  <uib-tab select="$ctrl.activeTab = 'sync'">
    <uib-tab-heading>
      <i class="zmdi zmdi-refresh-sync zmdi-wide"></i>
      <span class="tab-text" translate="ADMIN.USER_DIRECTORIES.LDAP.TABS.SYNC.HEADING"></span>
      <i ng-if="$ctrl.form.sync.$invalid && ($ctrl.form.sync.$touched || $ctrl.ngModel.active)"
         class="tab-indicator zmdi zmdi-alert-triangle"
         uib-tooltip="{{:: 'ADMIN.USER_DIRECTORIES.LDAP.TABS.SYNC.INVALID' | translate}}"
         tooltip-placement="top"
         tooltip-append-to-body="true"></i>
    </uib-tab-heading>
  </uib-tab>
</uib-tabset>

<div class="alert alert-warning text-justify" role="alert">
  <p translate="ADMIN.USER_DIRECTORIES.CSV.WARNING"></p>
</div>

<!-- TAB File Upload -->
<div ng-show="$ctrl.activeTab === 'fileupload'">

  <ng-form name="upload">

    <div class="form-group" id="csv-file-upload">
      <div class="col-sm-9">
        <button ngf-model-options="{updateOn: 'change drop dropUrl paste', allowInvalid: false, debounce: 0}"
                class="btn btn-default" ngf-select ng-model="$ctrl.ngModel.csvFile" name="file" ngf-accept="'.csv'"
                ngf-multiple="false">{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.LABEL' | translate}}
        </button>
        <span ng-if="$ctrl.ngModel.csvFile.name" class="text-muted" id="csv-file">{{$ctrl.ngModel.csvFile.name}}</span>
        <span ng-if="$ctrl.ngModel.settings.fileUid && !$ctrl.ngModel.csvFile" class="text-muted" translate="ADMIN.USER_DIRECTORIES.CSV.FILE.EXISTS"></span>
        <div ng-if="($ctrl.validationErrors | json ) != '{}'">
          <p class="help-block-error">{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.VALIDATION.FAILURE.HINT' | translate }}</p>
          <ng-messages for="$ctrl.validationErrors.id">
            <p class="file-entry-error" ng-message="notBlank">• {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.VALIDATION.FAILURE.IDENTIFIER.EMPTY' | translate }}</p>
          </ng-messages>
          <ng-messages for="$ctrl.validationErrors.firstName">
            <p class="file-entry-error" ng-message="notBlank">• {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.VALIDATION.FAILURE.FIRST_NAME.EMPTY' | translate }}</p>
          </ng-messages>
          <ng-messages for="$ctrl.validationErrors.lastName">
            <p class="file-entry-error" ng-message="notBlank">• {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.VALIDATION.FAILURE.LAST_NAME.EMPTY' | translate }}</p>
          </ng-messages>
          <ng-messages for="$ctrl.validationErrors.loginName">
            <p class="file-entry-error" ng-message="notBlank">• {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.VALIDATION.FAILURE.LOGIN_NAME.EMPTY' | translate }}</p>
          </ng-messages>
          <ng-messages for="$ctrl.validationErrors.email">
            <p class="file-entry-error" ng-message="emailValidation">• {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.VALIDATION.FAILURE.EMAIL.PATTERN' | translate }}</p>
          </ng-messages>
          <ng-messages for="$ctrl.validationErrors.groups">
            <p class="file-entry-error" ng-message="pattern">• {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.VALIDATION.FAILURE.LOGIN_NAME.EMPTY' | translate }}</p>
          </ng-messages>
          <ng-messages for="$ctrl.validationErrors.password">
            <p class="file-entry-error" ng-message="passwordPattern">• {{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.VALIDATION.FAILURE.PASSWORD.PATTERN' | translate }}</p>
          </ng-messages>
          <p class="help-block">{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.VALIDATION.FAILURE.TIP' | translate }}</p>
        </div>
      </div>
      <div class="col-sm-3 hidden-xs text-right">
        <button type="button" class="btn btn-link" ng-click="$ctrl.openHelp()">
          <i class="zmdi zmdi-help"></i>&nbsp;{{:: 'ADMIN.USER_DIRECTORIES.CSV.FILE.HELP.LABEL' | translate }}
        </button>
      </div>
    </div>

  </ng-form>

</div>

<!-- TAP Synchronisation -->
<div ng-show="$ctrl.activeTab === 'sync'">

  <ng-form name="sync">

    <div class="form-group">
      <label for="sync-activation" class="col-sm-3 control-label"
             translate="ADMIN.USER_DIRECTORIES.LDAP.SYNC.ACTIVATION.LABEL"></label>
      <div class="col-sm-8">
        <div class="checkbox">
          <label>
            <coyo-checkbox id="sync-activation" ng-model="$ctrl.ngModel.settings.activation"></coyo-checkbox>
            <span class="text-muted" translate="ADMIN.USER_DIRECTORIES.LDAP.SYNC.ACTIVATION.HELP"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group"
         ng-class="{'has-error': $ctrl.form.sync.orphanedUsersPolicy.$invalid && $ctrl.ngModel.active}">
      <label class="col-sm-3 control-label"
             translate="ADMIN.USER_DIRECTORIES.LDAP.SYNC.ORPHANED_USERS_POLICY.LABEL"></label>
      <div class="col-sm-8">
        <ui-select name="orphanedUsersPolicy" ng-model="$ctrl.ngModel.settings.orphanedUsersPolicy"
                   ng-required="$ctrl.ngModel.active">
          <ui-select-match allow-clear="false">
            {{ 'ADMIN.USER_DIRECTORIES.LDAP.SYNC.ORPHANED_USERS_POLICY.VALUES.' + $select.selected | translate }}
          </ui-select-match>
          <ui-select-choices repeat="policy in $ctrl.availableOrphanedUsersPolicies | filter: $select.search">
            <div
                ng-bind-html="'ADMIN.USER_DIRECTORIES.LDAP.SYNC.ORPHANED_USERS_POLICY.VALUES.' + policy | translate"></div>
          </ui-select-choices>
        </ui-select>
        <ng-messages for="$ctrl.form.sync.orphanedUsersPolicy.$error" class="help-block validation">
          <p ng-message="required">{{:: 'ERRORS.VALIDATION.REQUIRED' | translate }}</p>
        </ng-messages>
      </div>
      <div class="col-sm-1 hidden-xs">
        <coyo-help tip="ADMIN.USER_DIRECTORIES.CSV.SYNC.ORPHANED_USERS_POLICY.HELP"></coyo-help>
      </div>
    </div>

    <div class="form-group">
      <label for="recover-deleted-users" class="col-sm-3 control-label"
             translate="ADMIN.USER_DIRECTORIES.LDAP.SYNC.RECOVER_DELETED_USERS.LABEL"></label>
      <div class="col-sm-8 has-warning">
        <div class="checkbox">
          <label>
            <coyo-checkbox id="recover-deleted-users"
                           ng-model="$ctrl.ngModel.settings.recoverDeletedUsers"></coyo-checkbox>
          </label>
          <span class="text-muted" translate="ADMIN.USER_DIRECTORIES.CSV.SYNC.RECOVER_DELETED_USERS.HELP"></span>
        </div>
        <p class="help-block" ng-show="$ctrl.ngModel.settings.recoverDeletedUsers">
          <i class="zmdi zmdi-alert-triangle"></i>&nbsp;{{::
          'ADMIN.USER_DIRECTORIES.LDAP.SYNC.RECOVER_DELETED_USERS.WARNING' | translate }}
        </p>
      </div>
    </div>

    <div class="form-group" ng-if="$ctrl.ngModel.syncJob">
      <label for="sync-status" class="col-sm-3 control-label"
             translate="ADMIN.USER_DIRECTORIES.SYNC_JOB.LABEL.STATUS"></label>
      <div class="col-sm-8 mt-xxs">
        <coyo-job-status id="sync-status"
                         job-status="$ctrl.ngModel.syncJob.jobStatus"
                         job-name="$ctrl.ngModel.syncJob.name"
                         link-to-jobs="false"
                         label-no-status="{{:: 'ADMIN.JOBS.DETAILS.STATUS.NEVER_STARTED_YET' | translate }}"
                         label-unknown-progress="{{:: 'ADMIN.USER_DIRECTORIES.SYNC_JOB.RUNNING' | translate }}">
        </coyo-job-status>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8 col-sm-push-3">
        <a ng-if="$ctrl.ngModel.syncJob"
           ng-click="$ctrl.openSyncJob()"
           class="btn btn-default">
          <i class="zmdi zmdi-hc-fw zmdi-arrow-right"></i>&nbsp;{{::
          'ADMIN.USER_DIRECTORIES.LDAP.SYNC.LABEL.JUMP_TO_JOB' | translate }}
        </a>
      </div>
    </div>

  </ng-form>
</div>
