<form name="gameForm" coyo-form-submit="$ctrl.save()" novalidate>
    <div class="panel panel-default championship-app-settings game-settings">
        <div class="panel-heading">
            <h1 class="panel-title">{{:: 'ADMIN.GAMIFICATION.GAMES.EDIT_GAME' | translate }} <small>{{ $ctrl.game.date | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' + $root.timeFormat.short }}</small></h1>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label for="homeTeam" class="col-sm-2 control-label" translate="APP.CHAMPIONSHIP.MATCHUP"></label>
                <div class="col-sm-5">
                    <coyo-select-team id="homeTeam" name="homeTeam" ng-model="$ctrl.game.homeTeamId"
                                      parameters="{tournamentId: $ctrl.game.tournamentId}"
                                      placeholder="APP.CHAMPIONSHIP.SELECT_TEAM"></coyo-select-team>
                </div>
                <div class="col-sm-5">
                    <coyo-select-team id="awayTeam" name="awayTeam" ng-model="$ctrl.game.awayTeamId"
                                      parameters="{tournamentId: $ctrl.game.tournamentId}"
                                      placeholder="APP.CHAMPIONSHIP.SELECT_TEAM"></coyo-select-team>
                </div>
            </div>
            <div class="form-group">
                <label for="homeScore" class="col-sm-2 control-label" translate="APP.CHAMPIONSHIP.FINAL_SCORE"></label>
                <div class="col-sm-5">
                    <input id="homeScore" name="homeScore" class="form-control"
                           ng-model="$ctrl.game.homeScore" type="number" min="0" max="999">
                </div>
                <div class="col-sm-5">
                    <input name="awayScore" name="awayScore" class="form-control"
                           ng-model="$ctrl.game.awayScore" type="number" min="0" max="999">
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label" translate="APP.CHAMPIONSHIP.DATE"></label>
                <div class="col-sm-5">
                    <input id="date" type="text" class="form-control" name="date"
                           datetime-picker="{{'dd MMM yyyy HH:mm'}}"
                           ng-model="$ctrl.game.date"
                           is-open="dateIsOpen"
                           ng-focus="dateIsOpen= true"
                           timepicker-options="{'showMeridian': false}"
                           ng-required="false"/>
                </div>
            </div>
        </div>
        <div class="panel-footer panel-actions">
            <div class="row">
                <div class="col-sm-10 col-sm-push-2">
                    <coyo-form-submit-button form-ctrl="gameForm" label="SAVE"></coyo-form-submit-button><!--
                 --><a ui-sref="^" class="btn btn-default">
                        <i class="zmdi zmdi-hc-fw zmdi-close"></i>&nbsp;{{::'CANCEL' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
