@import "variables";
@import "properties";

.about-coyo-header {
  height: 100px;
  padding: 18px 0 12px;
  background-color: var(--color-original);
  border-radius: 8px 8px 0 0;

  .about-coyo-brand {
    background-image: var(--image-coyo-nav-hd);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 100%;
  }
}

.mat-dialog-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  .with-love {
    width: 100%;
    padding: 15px;
    background-color: $gray-lighter;
    text-align: center;
    font-weight: bold;
    color: $gray-dark;

    .heart {
      color: var(--color-red);
      vertical-align: middle;
      margin-top: -3px;

      &.activated {
        transform: rotate(1260deg);
        transition: 1.5s ease-in-out;
      }
    }
  }

  .version-container {
    display: flex;
    align-items: center;
    padding: 24px;
    max-width: 100%;

    strong {
      font-size: 18px;
      margin-left: 6px;
    }
  }
}

.mat-link-button {
  width: 100%;
}
