@import "variables";
@import "mixins";

.sender-avatar.event-avatar {

  @mixin avatar-variant($size, $font-size, $font-size-icon) {
    width: $size;
    height: $size;

    .sender-avatar-empty {
      font-size: $font-size;
    }

    > i {
      text-align: center;
      font-size: $font-size-icon;
      line-height: $size;
      width: $size;
    }
  }

  @include avatar-variant(80px, 22px, 64px);
  display: inline-block;
  position: relative;

  &.xs { @include avatar-variant(30px, 14px, 24px); }
  &.sm { @include avatar-variant(40px, 16px, 32px); }
  &.lg { @include avatar-variant(120px, 36px, 96px); }
  &.xl { @include avatar-variant(160px, 48px, 128px); }

  &.no-link {
    cursor: default;
    color: inherit;
  }
}

.sender-avatar-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: $color-gray;
  text-transform: uppercase;
}

:host-context(.event-list-component) {
  .sender-avatar-empty {
    border-radius: 0;
    background-color: $color-event-avatar-bg;
    @include md-and-up() {
      border-radius: 5px 0 0 5px;
    }
  }
}

:host-context(.upcoming-event-widget) {
  .event-avatar {
    width: 60px;
    height: 60px;
  }
}
