@import "variables";
@import "mixins";

:host-context(.widget-inner.panel-body) .swiper-container {
    margin: $panel-body-padding-negate-sm;
    border: none;

    @include md-and-up() {
      margin: $panel-body-padding-negate-md;
    }
}

:host-context(.widget-inner.panel-body) .swiper-container {
  .teaser-caption {
    padding: $panel-body-padding;
  }
}

.swiper-container {
  border: 1px solid $n50;

  @include md-and-up() {
    border-radius: $border-radius-large;
  }
}

.swiper-slide {
  background: #fff;
  display: flex;
  flex-direction: column;
  cursor: grab;
}

.swiper-slide a, .swiper-button-next, .swiper-button-prev {
  cursor: grab;
}

.slick-slide-inner {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.size-sm .slick-slide-inner {
  padding-top: 25%;
}

.size-md .slick-slide-inner {
  padding-top: 35%;
}

.size-lg .slick-slide-inner {
  padding-top: 60%;
}

.teaser-caption {
  padding: 16px 16px;
  text-align: left;

  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    height: 45px; /* fallback */
    margin-bottom: 0;
  }
}

:host:not(.two-line) .teaser-caption p {
  -webkit-line-clamp: 1; /* number of lines to show */
  height: 22.5px;
}

.swiper-button-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.size-sm .swiper-button-container {
  padding-top: 25%;
}

.size-md .swiper-button-container {
  padding-top: 35%;
}

.size-lg .swiper-button-container {
  padding-top: 60%;
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  width: auto;
  height: auto;

  &::after {
    content: none;
  }

  .mat-flat-button[mat-flat-button] .mat-icon {
    margin-right: 0;
  }

  button.mat-flat-button {
    color: $n200;
    border-radius: 50%;
  }
}

.swiper-button-prev, .swiper-button-next {
  top: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.swiper-button-prev {
  left: 8px;

}

.swiper-button-next {
  right: 8px;
}

.swiper-pagination {
  padding: 0 0 12px;
  position: static;
}
