<div #swiperContainer class="swiper-container" [ngClass]="{'size-sm': this.widget.settings._size === 'sm',
                      'size-md': this.widget.settings._size === 'md',
                      'size-lg': this.widget.settings._size === 'lg'}">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let slide of widget.settings.slides" tabindex="-1">
      <a tabindex="-1" [attr.href]="slide._url ? slide._url : null" class="slick-slide-inner" [attr.target]="slide._newTab ? '_blank' : '_self'"
         [ngStyle]="{'background-image':'url('+slide._image+')'}">
      </a>
      <div class="teaser-caption">
        <h3>{{slide.headline}}</h3>
        <p>{{slide.subheadline}}</p>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination" *ngIf="widget.settings.slides.length > 1"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-container hidden-xs" *ngIf="widget.settings.slides.length > 1">
    <div class="swiper-button-prev">
      <button tabindex="0" mat-flat-button mat-icon-button size="small" [attr.aria-label]="'WIDGET.TEASER.BUTTON.ARIA_PREVIOUS' | translate" (click)="previousSlide($event)">
        <mat-icon svgIcon="chevron-left"></mat-icon>
      </button>
    </div>
    <div class="swiper-button-next">
      <button tabindex="0" mat-flat-button mat-icon-button size="small" [attr.aria-label]="'WIDGET.TEASER.BUTTON.ARIA_NEXT' | translate" (click)="nextSlide($event)">
        <mat-icon svgIcon="chevron-right"></mat-icon>
      </button>
    </div>
  </div>
</div>
