@import 'variables';
@import 'mixins';

.right-container {
  margin-left: auto;
  display: flex;
}

.info-container {
  font-size: 14px;
  line-height: 32px;
}

coyo-share-info {
  margin-left: auto;
}

:host > div {
  display: flex;
  flex-direction: row;
  padding: 8px (8px - 2px); // subtract button border
  border-top: 1px solid $n50;

  @include sm-and-up() {
    padding: 8px (16px - 2px); // subtract button border
  }
}
