@import 'variables';
@import 'mixins';


.media-list-section {
  margin: 16px 2px 2px 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h5 {
    font-weight: 600;
    font-size: 15px;
  }
}

coyo-select-file-button {
  margin: auto;
}

hr {
  border-color: $n50;
  margin: 0 -24px;
}

.album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  .mat-form-field-wrapper {
    margin: 0;
  }
}

.title {
  width: 100%;
  @include sm-and-up() {
    width: 50%;
    padding-right: 8px;
  }
}

.location {
  width: 100%;

  @include sm-and-up() {
    width: 50%;
    padding-left: 8px;
  }

  mat-icon {
    color: $r300;
  }
}

.description {
  width: 100%;
}

.selected-media {
  display: flex;
  flex-direction: column;
}

.media-list {
  max-height: 400px;
  overflow: auto;
}

.media-row, .cdk-drag-preview {
  display: flex;
}

.media-row {
  border-bottom: $n50 solid 1px;
}

.cdk-drag-preview {
  background-color: $n0;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}
