@import "variables";
@import "mixins";

$preview-image-size: 92px;
$preview-google-size: 32px;
$preview-icon-size: 32px;
$preview-image-size-xs: 72px;

:host-context(coyo-link-preview-list) {
  display: block;
  margin-bottom: 8px;
}

.link-preview {
  display: flex;
  position: relative;
  border: 1px solid $n50;
  overflow: hidden;
  background-color: $n25;

  @include sm-and-up() {
    border-radius: 4px;
  }
}

.link-preview-icon {
  color: $n100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $preview-image-size-xs;
  height: $preview-image-size-xs;
  font-size: $preview-icon-size;

  @include sm-and-up() {
    width: $preview-image-size;
    height: $preview-image-size;
  }
}

.link-preview-image {
  flex: 0 0 auto;
  display: block;
  width: $preview-image-size-xs;
  height: $preview-image-size-xs;
  object-fit: cover;
  overflow: hidden;
  border-right: 1px solid $n50;
  background-color: #fff;

  @include sm-and-up() {
    width: $preview-image-size;
    height: $preview-image-size;
  }
}

.link-google-preview-image {
  width: $preview-google-size;
  height: $preview-google-size;
  margin: (($preview-image-size-xs - $preview-google-size) / 2) auto;

  @include sm-and-up() {
    margin: (($preview-image-size - $preview-google-size) / 2) auto;
  }
}

.link-preview-image-ico {
  display: block;
  width: $preview-icon-size;
  height: $preview-icon-size;
  margin: (($preview-image-size-xs - $preview-icon-size) / 2) auto;

  @include sm-and-up() {
    margin: (($preview-image-size - $preview-icon-size) / 2) auto;
  }
}

.link-preview-close {
  position: absolute;
  top: 4px;
  right: 4px;
}

.link-preview-text {
  flex: 1 1 auto;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 18px;
  min-width: 0;
}

.link-preview-title {
  font-weight: bold;
  color: $n400;
  @include ellipsis();
  max-width: calc(100% - 32px);
}

.link-preview-url {
  font-size: 12px;
  line-height: 16px;
  @include ellipsis();
  max-width: calc(100% - 32px);
}

.link-preview-description {
  font-size: 13px;
  margin-top: 4px;
  color: $n200;

  @include xs() {
    @include ellipsis();
  }
  @include sm-and-up() {
    @include ellipsis-multiline(2, 36px);
  }
}
