<div [formGroup]="parentForm" class="form-group">
  <label class="col-sm-2 control-label" translate="WIDGET.HASHTAG.SETTINGS.PERIOD"></label>
  <div class="col-sm-10">
    <ng-select formControlName="_period" bindLabel="text" [items]="translatedItems" class="hashtag" [clearable]="false"></ng-select>
  </div>
</div>
