@import "variables";
@import "mixins";

.pi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  &.loading{
    width: auto;
  }
}

.pi-file-icon {
  margin-top: 0;
}

.pi-preview-pdf-container {
  width: 100%;
  height: 100%;
}

.pi-spinner-vert-container {
  text-align: center;
  margin-top: 0;
}

.pi-spinner-container {
  text-align: center;
  margin-top: 0;
}

.pi-no-preview-container {
  align-self: center;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

//FIXME: PDF-Preview - fix bug that appends file inputs on the end of body after show pdf-viewer
body > #fileInput { display: none; }
