/* You can add global styles to this file, and also import other style files */
@import "~froala-editor/css/froala_editor.pkgd.min.css";
@import "~froala-editor/css/froala_style.css";
@import "~@coyo/ngx-emoji-mart/picker.css";
@import '~ngx-toastr/toastr';
@import '~swiper/css/swiper.css';

/* inject:custom-vars */
@import "styles/variables";
@import "styles/mixins";
@import "styles/properties";

// Import Angular Material styles
@import '~@coyo/ui/lib/styles';
@import 'styles/material-bootstrap-overrides';

// You can add your global styles here
@import "styles/util";
@import "styles/spaces";
@import "styles/components/button";
@import "styles/components/dropdown";
@import "styles/components/select";
@import "styles/components/tooltip";
@import "styles/components/spinner";
@import "styles/components/forms";
@import "styles/components/migration";

// You can add your global component styles here
@import "app/shared/rte/rte/rte.component.global";
@import "app/shared/social/timeline-share/timeline-share.component.global";
@import "app/shared/emoji/emoji-picker/emoji-picker.component.global";
@import "app/integration/gsuite/g-drive-picker/google-file-picker.global";
@import "app/timeline/timeline-form/functional-user-chooser/functional-user-chooser.component.global";
@import "app/shared/pdf/pdf-viewer/pdf-viewer.component.global";
@import "app/engage/news/blog-article/blog-article-view.component.global";
@import "app/shared/social/comments/comment/comment.component.global";
@import "app/shared/social/comments/comment-form/comment-form.component.global";
@import "app/shared/mention/mention.component.global";
@import "app/messaging/message-form/message-form.component.global";
@import "app/timeline/timeline-item/timeline-item/timeline-item.component.global";
@import "app/shared/forms/date-picker/date-picker.component.global";
@import "app/shared/forms/time-picker/time-picker.component.global";
@import "app/widgets/widgets.global";
@import "app/widgets/text/text-widget/text-widget.component.global";
@import "app/widgets/image/image-widget/image-widget.component.global";
@import "app/launchpad/launchpad/launchpad.component.global";
@import "app/shared/files/file-icon/file-icon.component.global";
@import "app/events/event.global";
@import "app/widgets/download/download-widget/download-widget.component.global";
@import "app/pages/subscriber-modal/subscriber-modal.component.global";
@import "app/shared/about-coyo/about-coyo-modal.component.global";
@import "app/widgets/media/media-widget/media-widget.component.global";
@import "app/shared/social/likes/like-info/like-info.component.global";

// Inject custom SCSS code (must stay at end of file)
/* inject:custom-scss */

// ensure that the new CDK overlay container is above old bootstrap stuff.
// This should be deleted as soon as Bootstrap components have been eliminated.
.cdk-overlay-container {
  z-index: 1500;
}
.cdk-drag-preview {
  z-index: 3000 !important;
}
