<div ng-show="$ctrl.loading">
  <div ng-if="$ctrl.skeleton">
    <coyo-render-skeleton container="{{$ctrl.skeleton.container}}" name="{{$ctrl.skeleton.name}}"></coyo-render-skeleton>
  </div>
  <div class="text-center m-m" ng-if="!$ctrl.skeleton">
    <coyo-spinner size="sm"></coyo-spinner>
  </div>
</div>
<p class="widget-status-alert text-muted alert alert-warning" ng-if="$ctrl.errorMessage">{{::$ctrl.errorMessage}}</p>
<em class="text-muted" ng-if="$ctrl.emptyResult">{{::$ctrl.emptyMessage | translate}}</em>
