<div class="modal-content-wrapper sender-navigation-modal">
  <div class="modal-header">
    <h3 class="modal-title">{{:: 'MODULE.SENDER.NAVIGATION.MOBILE.TITLE' | translate }}</h3>
    <span class="modal-close" ng-click="$dismiss()">
        <i class="zmdi zmdi-close img-close"></i>
      </span>
  </div>
  <div class="modal-body p-s">
    <div ng-repeat="appGroup in $ctrl.navGroups">
      <div class="nav-sender-title row">
        <div class="title col-xs-10">
          {{ (appGroup.name) || ('NAVIGATION' | translate)}}
        </div>
        <div ng-if="$ctrl.sender._permissions.manageApps"
             class="btn btn-zmdi btn-link btn-settings app-group-translations pull-right col-xs-2"
             ng-click="$ctrl.openTranslations($ctrl.sender)">
          <i class="zmdi zmdi-settings"></i>
        </div>
      </div>
      <div class="app-title" ng-repeat="app in appGroup.apps" ng-class="{'app-inactive': !app.active}">
        <a ng-if="app.key" coyo-app-href="app" sender-type="{{$ctrl.sender.typeName}}">
          <i class="zmdi zmdi-hc-fw" ng-class="$ctrl.getIcon(app)"></i> {{app.displayName}}
        </a>
      </div>
    </div>
    <h5 class="nav-sender-options" ng-if="$ctrl.sender._permissions.manageApps || $ctrl.sender._permissions.manage
     || $ctrl.sender.typeName === 'workspace' || $ctrl.sender.typeName === 'page'">
      {{::'MODULE.SENDER.NAVIGATION.MOBILE.OPTIONS' | translate}}</h5>
    <div class="apps-options" ng-if="$ctrl.hasImprint">
      <a ui-sref="main.page.show.imprint">
        <i class="zmdi zmdi-hc-fw zmdi-accounts"></i> <span translate="PAGE.IMPRINT"></span>
      </a>
    </div>
    <div class="apps-options" ng-if="$ctrl.sender.typeName === 'page'">
      <coyo-page-subscribe page="$ctrl.sender" link="true"></coyo-page-subscribe>
    </div>
    <hr class="divider"
        ng-if="$ctrl.sender.typeName === 'page'">
    <div class="apps-options" ng-if="$ctrl.sender.typeName === 'workspace'">
      <a ui-sref="main.workspace.show.members">
        <i class="zmdi zmdi-hc-fw zmdi-accounts"></i> <span translate="WORKSPACE.MEMBERS"></span>
        <span ng-if="$ctrl.sender.requestedCount"
              class="badge badge-red pull-right">{{$ctrl.sender.requestedCount}}</span>
      </a>
    </div>
    <div class="apps-options" ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender._permissions.canSubscribe">
      <coyo-workspace-subscribe workspace="$ctrl.sender" user="$ctrl.currentUser"></coyo-workspace-subscribe>
    </div>
    <div class="apps-options" coyo-global-permissions="CREATE_SHARE">
      <coyo-share-nav-bar-button [share-target]="$ctrl.sender" translation-key="COMMONS.SHARES.SUBMIT" ng-click="$dismiss()"></coyo-share-nav-bar-button>
    </div>
    <hr class="divider"
        ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender._permissions.canSubscribe">
    <div class="apps-options" ng-if="$ctrl.sender._permissions.manageApps">
      <a ng-click="$ctrl.addApp($ctrl.sender, $ctrl.apps)">
        <i class="zmdi zmdi-hc-fw zmdi-plus-circle-o"></i>&nbsp;<span translate="{{:: 'APPS.ADD' }}"></span>
      </a>
    </div>
    <div class="apps-options" ng-if="$ctrl.sender._permissions.manageApps">
      <a ng-click="$ctrl.addGroup()">
        <i class="zmdi zmdi-hc-fw zmdi-plus-circle-o-duplicate"></i>&nbsp;<span
          translate="{{:: 'APPS.ADD_GROUP' }}"></span>
      </a>
    </div>
    <div class="apps-options" ng-if="$ctrl.sender._permissions.manageApps">
      <a ng-click="$ctrl.editApp()">
        <i class="zmdi zmdi-hc-fw zmdi-settings"></i>&nbsp;<span translate="{{:: 'APPS.EDIT' }}"></span>
      </a>
    </div>
    <div coyo-global-permissions="ACCESS_FILES, MANAGE_FILES" class="apps-options" ng-if="$ctrl.sender.typeName === 'page' && $ctrl.sender._permissions.manage">
      <a ui-sref="main.page.show.files">
        <i class="zmdi zmdi-hc-fw zmdi-file"></i>&nbsp;<span
          translate="{{:: 'MODULE.SENDER.FILES.NAVIGATION' }}"></span>
      </a>
    </div>
    <div class="apps-options" ng-if="$ctrl.sender.typeName === 'page' && $ctrl.sender._permissions.manage">
      <a ui-sref="main.page.show.settings">
        <i class="zmdi zmdi-hc-fw zmdi-settings"></i>&nbsp;<span translate="{{:: 'SETTINGS' }}"></span>
      </a>
    </div>
    <div coyo-global-permissions="ACCESS_FILES, MANAGE_FILES" class="apps-options" ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender._permissions.manage">
      <a ui-sref="main.workspace.show.files">
        <i class="zmdi zmdi-hc-fw zmdi-file"></i> <span translate="MODULE.SENDER.FILES.NAVIGATION"></span>
      </a>
    </div>
    <div class="apps-options" ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender._permissions.manage">
      <a ui-sref="main.workspace.show.settings">
        <i class="zmdi zmdi-hc-fw zmdi-settings"></i> <span translate="SETTINGS"></span>
      </a>
    </div>
    <hr class="divider"
        ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender._permissions.manageApps || ($ctrl.sender.membershipStatus === 'NONE' || $ctrl.sender.membershipStatus === 'INVITED')">
    <div class="apps-options"
         ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender.membershipStatus === 'APPROVED'">
      <a ng-click="$ctrl.leave()">
        <i class="zmdi zmdi-hc-fw  zmdi-hc-rotate-270 zmdi-square-down"></i> <span translate="WORKSPACE.LEAVE"></span>
      </a>
    </div>
    <div class="apps-options"
         ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender.membershipStatus === 'INVITED'">
      <a ng-click="$ctrl.leave()">
        <i class="zmdi zmdi-hc-fw  zmdi-hc-rotate-270 zmdi-square-down"></i> <span translate="WORKSPACE.ACTION.LEAVE.INVITED"></span>
      </a>
    </div>
    <div class="apps-options"
         ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender.membershipStatus === 'REQUESTED'">
      <a ng-click="$ctrl.leave()">
        <i class="zmdi zmdi-hc-fw  zmdi-hc-rotate-270 zmdi-square-down"></i> <span translate="WORKSPACE.ACTION.LEAVE.REQUESTED"></span>
      </a>
    </div>
    <div class="apps-options"
         ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender.membershipStatus === 'NONE'">
      <a ng-click="$ctrl.join()">
        <i class="zmdi zmdi-hc-fw zmdi-plus"></i> <span translate="WORKSPACE.JOIN"></span>
      </a>
    </div>
    <div class="apps-options"
         ng-if="$ctrl.sender.typeName === 'workspace' && $ctrl.sender.membershipStatus === 'INVITED'">
      <a ng-click="$ctrl.join()">
        <i class="zmdi zmdi-hc-fw zmdi-plus"></i> <span translate="WORKSPACE.ACTION.JOIN.INVITED"></span>
      </a>
    </div>
  </div>
  <button class="btn btn-default btn-nav-cancel" ng-click="$dismiss()">
    <i class="zmdi zmdi-hc-fw zmdi-close-circle"></i>&nbsp;{{:: 'CANCEL' | translate }}
  </button>
</div>
