<li ng-show="$ctrl.isVisible" ng-class="{'disabled': $root.globalEditMode}">
  <a href ng-click="$ctrl.edit()" data-test="nav-view">
    <i class="zmdi zmdi-edit zmdi-hc-fw"></i>&nbsp;
    <span translate="NAVIGATION.EDIT.VIEW"></span>
  </a>
</li>
