<div *ngIf="users.length > 2">
  <coyo-user-avatar [user]="users[1]" [avatarSize]="'sm'" [noLink]="true" [allowModal]="false"></coyo-user-avatar>
  <coyo-user-avatar [user]="users[0]" [avatarSize]="'md'" [noLink]="true" [allowModal]="false"></coyo-user-avatar>
  <coyo-user-avatar [user]="users[2]" [avatarSize]="'sm'" [noLink]="true" [allowModal]="false"></coyo-user-avatar>
</div>
