<button class="hashtag-subscription-button btn btn-primary btn-xs btn-flat"
        ng-click="$ctrl.onHashtagSubscribeButtonClick()"
        ng-if="$ctrl.isSearchTermAHashtag() && !$ctrl.isSubscribedHashtag() && !$ctrl.subscriptionLoading">
  {{'MODULE.SEARCH.HASHTAG.SUBSCRIBE' | translate}}
</button>
<button class="hashtag-subscription-button btn btn-default btn-xs btn-flat"
        ng-click="$ctrl.onHashtagSubscribeButtonClick()"
        ng-if="$ctrl.isSearchTermAHashtag() && $ctrl.isSubscribedHashtag() && !$ctrl.subscriptionLoading">
  <i class="zmdi zmdi-check"></i>
  {{'MODULE.SEARCH.HASHTAG.SUBSCRIBED' | translate}}
</button>