<div class="form-group">
    <label for="field-placeholder" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.SETTINGS.PLACEHOLDER"></label>
    <div class="col-sm-9">
        <input class="form-control" type="text" maxlength="255" id="field-placeholder" name="field-placeholder" ng-model="$ctrl.model.placeholder">
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="APP.COMMONS.FIELDS.SETTINGS.PLACEHOLDER.HELP"></coyo-help>
    </div>
</div>