<table role="grid" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}" ng-controller="DatepickerController as $ctrl">
  <!-- Copied and edited from angular-ui/bootstrap/template/datepicker/ -->
  <thead>
  <tr>
    <th><button type="button" class="btn btn-default btn-sm pull-left uib-left" ng-click="move(-1)" tabindex="-1"><i class="zmdi zmdi-chevron-left"></i></button></th>
    <th><button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm uib-title" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1"><strong>{{title}}</strong><span class="caret"></span></button></th>
    <th><button type="button" class="btn btn-default btn-sm pull-right uib-right" ng-click="move(1)" tabindex="-1"><i class="zmdi zmdi-chevron-right"></i></button></th>
  </tr>
  </thead>
  <tbody>
  <tr class="uib-months" ng-repeat="row in $ctrl.translateMonths(rows) track by $index">
    <td ng-repeat="dt in row" class="uib-month text-center" role="gridcell" id="{{::dt.uid}}" ng-class="::dt.customClass">
      <button type="button" class="btn btn-default" uib-is-class="'btn-info' for selectedDt, 'active' for activeDt on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-info': dt.current}">{{::dt.label}}</span></button>
    </td>
  </tr>
  </tbody>
</table>