<coyo-select [itemTemplate]="itemTemplate" [selectedTemplate]="selectedTemplate" [settings]="settings">
  <ng-template #itemTemplate let-item="item" let-searchTerm="searchTerm">
    <coyo-sender-options-view [searchTerm]="searchTerm" [sender]="item"></coyo-sender-options-view>
  </ng-template>
  <ng-template #selectedTemplate let-clear="clear" let-item="item">
    {{item['displayName']}}<span *ngIf="multiselect" (click)="clear(item)" aria-hidden="false" class="ng-value-clear" role="button">×</span>
  </ng-template>
</coyo-select>
