@import "mixins";

.media-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0;
  width: 100%;

  >* {
    margin-left: 12px;
  }

  @include sm-and-down() {
    >* {
      margin-left: 0;
    }

    .media-form-fields {
      margin-left: 8px;
    }
  }

  :first-child {
    margin-left: 0;
  }

  coyo-file-image-preview, coyo-video-preview-cover {
    width: 55px;
    height: 55px;
    min-width: 55px;
    max-width: 55px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}

.media-form-fields {
  width: 100%;
  input {
    margin-bottom: 8px;
    border: 0;
    padding: 7px 2px;
    height: 32px;

    &:hover {
      background-color: $n35;
      border: 0;
    }

    &:focus {
      box-shadow: none;
      background-color: $n35;
    }
  }
}
