@import "variables";
@import "mixins";

button {
  margin-top: 10px;
  margin-left: -16px;
}

:host-context(coyo-comment) {
  button {
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;

    i {
      font-size: 14px;
      line-height: 16px;
    }
    span {
      font-size: 14px;
      line-height: 16px;
    }

    @include xs() {
      margin-left: -14px;
    }
  }
}
