<ng-container *ngIf="(state$ | async) as state">
  <button class="coyo-btn coyo-btn-sm coyo-btn-text" *ngIf="state.showButton" (click)="toggle()"
        [disabled]="isLoading">
    <i class="zmdi zmdi-translate" *ngIf="state.showIcon"></i>
    <span [translate]="showTranslation ? 'TRANSLATIONS.JIT.TRANSLATION.HIDE' : 'TRANSLATIONS.JIT.TRANSLATION.SHOW'"></span>
  </button>
</ng-container>
