<div class="admin-jobs-details" ng-cloak>

    <div class="panel panel-default panel-list">
        <div class="panel-heading">
            <a class="btn btn-primary pull-right" ng-if="!$ctrl.isMobile"
               ng-click="$ctrl.startJob()" ng-disabled="$ctrl.loading || $ctrl.currentState === 'RUNNING'">
                <i class="zmdi zmdi-hc-fw zmdi-play"></i>&nbsp;{{:: 'ADMIN.JOBS.DETAILS.START_MANUALLY' | translate }}
            </a>
            <h3 class="panel-title">
                {{:: 'ADMIN.JOBS.DETAILS.TITLE' | translate }}
                <small>{{:: $ctrl.job.displayName }}</small>
            </h3>
        </div>

        <div class="panel-body">
            <div class="alert alert-info">{{:: 'ADMIN.JOBS.DETAILS.INFO.AUTOMATIC_DELETION' | translate }}</div>

            <!-- mobile view -->
            <ul ng-if="$ctrl.isMobile" class="list-group">
                <li ng-if="!$ctrl.loading && !$ctrl.currentPage.content.length" class="list-group-item text-center text-muted pv-s"
                    translate="ADMIN.JOBS.DETAILS.STATUS.NEVER_STARTED_YET"></li>
                <li ng-repeat="row in $ctrl.currentPage.content track by row.executionId" class="list-group-item">
                    <div class="pull-left mr-s">{{:: row.executionId }}</div>
                    <coyo-job-status job-status="row" without-time="true" link-to-jobs="false"
                                     label-unknown-progress="{{:: 'ADMIN.JOBS.DETAILS.STATUS.UNKNOWN_PROGRESS' | translate }}"
                                     label-no-status="{{:: 'ADMIN.JOBS.DETAILS.STATUS.NEVER_STARTED_YET' | translate }}">
                    </coyo-job-status>
                </li>
            </ul>

            <!-- desktop view -->
            <table ng-if="!$ctrl.isMobile" class="table table-striped table-hover m-0">
                <thead>
                <tr>
                    <th translate="ADMIN.JOBS.DETAILS.HEADINGS.EXECUTION_ID"></th>
                    <th translate="ADMIN.JOBS.DETAILS.HEADINGS.STATUS"></th>
                    <th translate="ADMIN.JOBS.DETAILS.HEADINGS.START_TIME"></th>
                    <th translate="ADMIN.JOBS.DETAILS.HEADINGS.END_TIME"></th>
                    <th translate="ADMIN.JOBS.DETAILS.HEADINGS.DURATION"></th>
                </tr>
                </thead>

                <tbody ng-if="!$ctrl.loading && !$ctrl.currentPage.content.length">
                <tr>
                    <td colspan="5" class="text-center text-muted" translate="ADMIN.JOBS.DETAILS.STATUS.NEVER_STARTED_YET"></td>
                </tr>
                </tbody>

                <tbody>
                <tr ng-repeat="row in $ctrl.currentPage.content track by row.executionId">
                    <td><span>{{:: row.executionId }}</span></td>
                    <td>
                        <coyo-job-status job-status="row" without-time="true" link-to-jobs="false"
                                         label-unknown-progress="{{:: 'ADMIN.JOBS.DETAILS.STATUS.UNKNOWN_PROGRESS' | translate }}"
                                         label-no-status="{{:: 'ADMIN.JOBS.DETAILS.STATUS.NEVER_STARTED_YET' | translate }}">
                        </coyo-job-status>
                    </td>
                    <td>{{:: row.startTime | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.short + ' ' + $root.timeFormat.short }}</td>
                    <td><span ng-if="row.endTime">{{:: row.endTime | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.short + ' ' + $root.timeFormat.short }}</span></td>
                    <td><span ng-if="row.endTime">{{:: row.duration | amDurationFormat : row.durationUnit }}</span></td>
                    <td class="column-options">
                        <coyo-context-menu align-right="true" ng-if="row.state === 'RUNNING'">
                            <oyoc-job-execution-options job="$ctrl.job" refresh="$ctrl.refresh()" job-status="row"></oyoc-job-execution-options>
                        </coyo-context-menu>
                    </td>
                </tr>
                </tbody>
            </table>

            <coyo-table-pagination ng-if="$ctrl.currentPage" page="$ctrl.currentPage"></coyo-table-pagination>
        </div>

        <div class="panel-footer panel-actions">
            <div class="row">
                <div class="col-sm-10 col-sm-push-2">
                    <a class="btn btn-primary" ng-if="$ctrl.isMobile && $ctrl.currentState !== 'RUNNING'"
                       ng-click="$ctrl.startJob()" ng-disabled="$ctrl.loading">
                        <i class="zmdi zmdi-hc-fw zmdi-play"></i>&nbsp;{{:: 'ADMIN.JOBS.DETAILS.START_MANUALLY' | translate }}
                    </a>
                    <a class="btn btn-primary" ng-if="$ctrl.isMobile && $ctrl.currentState === 'RUNNING'"
                       ng-click="$ctrl.stopJob()" ng-disabled="$ctrl.loading">
                        <i class="zmdi zmdi-hc-fw zmdi-stop"></i>&nbsp;{{:: 'ADMIN.JOBS.DETAILS.STOP_MANUALLY' | translate }}
                    </a>
                    <a ng-click="$ctrl.refresh()" class="btn btn-primary" ng-disabled="$ctrl.loading">
                        <i ng-show="$ctrl.loading" class="zmdi zmdi-hc-fw zmdi-hc-spin zmdi-spinner"></i><!--
                     --><i ng-hide="$ctrl.loading" class="zmdi zmdi-hc-fw zmdi-refresh"></i>&nbsp;{{:: 'REFRESH' | translate }}
                    </a>
                    <a ui-sref="^.list" class="btn btn-default">
                        <i class="zmdi zmdi-hc-fw zmdi-close-circle"></i>&nbsp;{{:: 'CLOSE' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
