<div class="admin-launchpad-list" ng-cloak>
  <form name="settingsForm" class="form-horizontal" coyo-form-submit="$ctrl.save()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" translate="ADMIN.MENU.LAUNCHPAD"></h3>
      </div>
      <div class="panel-body">

        <!-- Brute force protection -->
        <div class="form-group">
          <label for="launchpadActive"
                class="col-sm-3 control-label"
                translate="ADMIN.LAUNCHPAD.ACTIVE.LABEL"></label>
          <div class="col-sm-8">
            <coyo-checkbox id="launchpadActive" name="launchpadActive" true-value="'true'" false-value="'false'"
                          ng-model="$ctrl.settings.launchpadActive"></coyo-checkbox>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="ADMIN.LAUNCHPAD.ACTIVE.HELP"></coyo-help>
          </div>
        </div>
      </div>

      <div class="panel-footer panel-actions">
        <div class="row">
          <div class="col-sm-9 col-sm-push-3">
            <coyo-form-submit-button label="SAVE" form-ctrl="settingsForm"></coyo-form-submit-button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="text-center mv-m" ng-if="$ctrl.loading">
    <coyo-spinner></mcoyosm-spinner>
  </div>

  <div ng-if="!$ctrl.loading && $ctrl.isActive">
    <div class="alert alert-info">{{:: 'ADMIN.LAUNCHPAD.HELP' | translate }}</div>
    <coyo-filterbox>
      <fb-actions>
        <li>
          <button type="button" class="btn btn-block btn-link" ui-sref="admin.launchpad.create">
            <i class="zmdi zmdi-plus-circle"></i>&nbsp;{{:: 'ADMIN.LAUNCHPAD.OPTIONS.CREATE' | translate }}
          </button>
        </li>
      </fb-actions>
    </coyo-filterbox>

    <div class="panel panel-default panel-list">
      <div class="panel-body">
        <table class="table table-striped table-hover m-0"
               ui-tree="$ctrl.treeOptions" empty-placeholder-enabled="false" max-depth="1"
               drag-enabled="$ctrl.categories.length > 1">
          <thead>
            <tr>
              <th></th>
              <th translate="ADMIN.LAUNCHPAD.HEADINGS.NAME"></th>
              <th translate="ADMIN.LAUNCHPAD.HEADINGS.VISIBILITY"></th>
              <th></th>
            </tr>
          </thead>
          <tbody ui-tree-nodes max-depth="1" ng-model="$ctrl.categories">
            <tr ng-hide="$ctrl.categories.length">
              <td colspan="6" class="text-center text-muted" translate="ADMIN.LAUNCHPAD.EMPTY"></td>
            </tr>
            <tr ng-repeat="category in $ctrl.categories track by category.id" ui-tree-node>
              <td class="column-options">
                <i class="zmdi zmdi-hc-fw zmdi-swap-vertical"
                   ng-class="{'forbidden': $ctrl.categories.length < 2}"
                   ui-tree-handle></i>
              </td>
              <td>{{::category.name}}</td>
              <td>
                <i class="zmdi zmdi-hc-fw"
                   ng-class="{'zmdi-globe': category.global === true, 'zmdi-eye-off': category.global === false}">
                </i>&nbsp;{{::('ADMIN.LAUNCHPAD.VISIBILITY.' + (category.global + '').toUpperCase()) | translate}}
              </td>
              <td class="column-options">
                <coyo-context-menu align-right="true">
                  <oyoc-launchpad-options actions="$ctrl.actions" category="category"></oyoc-launchpad-options>
                </coyo-context-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
