<nav class="sidebar sidebar-admin" ng-class="{ 'slide-in': $ctrl.showSidebar }">
  <ul class="nav nav-icons">
    <li class="sidebar-headline hidden-md" translate="NAVIGATION.HEADLINE_ADMIN"></li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_USERS_GROUPS_ROLES" data-test="button-admin-user-management">
      <a ui-sref-active="active" ui-sref="admin.user-management"
         ng-click="$ctrl.close()"
         uib-tooltip="{{::'ADMIN.MENU.USER_MGMT' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-account"></i>
        <span translate="ADMIN.MENU.USER_MGMT"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_SETTINGS" data-test="button-admin-general-settings">
      <a ui-sref-active="active"
         ui-sref="admin.settings"
         uib-tooltip="{{::'ADMIN.MENU.SETTINGS' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-settings"></i>
        <span translate="ADMIN.MENU.SETTINGS"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_SECURITY" data-test="button-admin-security">
      <a ui-sref-active="active"
         ui-sref="admin.security"
         uib-tooltip="{{::'ADMIN.MENU.SECURITY' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-shield-security"></i>
        <span translate="ADMIN.MENU.SECURITY"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_APPS_WIDGETS" data-test="button-admin-apps-widgets">
      <a ui-sref-active="active"
         ui-sref="admin.apps-widgets"
         uib-tooltip-html="::'ADMIN.MENU.APPS_WIDGETS' | translate"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-puzzle-piece"></i>
        <span translate="ADMIN.MENU.APPS_WIDGETS"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_GAMIFICATION" style="display: none;" data-test="button-admin-gamification">
      <a ui-sref-active="active"
         ui-sref="admin.gamification"
         uib-tooltip="{{::'ADMIN.MENU.GAMIFICATION' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-ticket-star"></i>
        <span translate="ADMIN.MENU.GAMIFICATION"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_LANDING_PAGES" data-test="button-admin-homepages">
      <a ui-sref-active="active"
         ui-sref="admin.landing-pages.list"
         uib-tooltip-html="::'ADMIN.MENU.LANDING_PAGES' | translate"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-globe"></i>
        <span translate="ADMIN.MENU.LANDING_PAGES"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_LAUNCHPAD" data-test="button-admin-launchpad">
      <a ui-sref-active="active"
         ui-sref="admin.launchpad.list"
         uib-tooltip="{{::'ADMIN.MENU.LAUNCHPAD' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-bookmark-outline"></i>
        <span translate="ADMIN.MENU.LAUNCHPAD"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_THEMES" data-test="button-admin-themes">
      <a ui-sref-active="active"
         ui-sref="admin.themes.list"
         uib-tooltip="{{::'ADMIN.MENU.THEMES' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-invert-colors"></i>
        <span translate="ADMIN.MENU.THEMES"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_LANGUAGES" data-test="button-admin-languages">
      <a id="admin-sidebar-multiLanguage"
         ui-sref-active="active"
         ui-sref="admin.multi-language"
         uib-tooltip="{{::'ADMIN.MENU.MULTI_LANGUAGE' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-flag"></i>
        <span translate="ADMIN.MENU.MULTI_LANGUAGE"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_USER_DIRECTORIES" data-test="button-admin-user-directories">
      <a ui-sref-active="active"
         ui-sref="admin.user-directories.list"
         uib-tooltip="{{::'ADMIN.MENU.USER_DIRECTORIES' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-accounts-list"></i>
        <span translate="ADMIN.MENU.USER_DIRECTORIES"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_AUTHENTICATION_PROVIDER_CONFIGS" data-test="button-admin-authentication">
      <a ui-sref-active="active"
         ui-sref="admin.authentication-providers.list"
         uib-tooltip="{{::'ADMIN.MENU.AUTHENTICATION_PROVIDERS' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-lock-open"></i>
        <span translate="ADMIN.MENU.AUTHENTICATION_PROVIDERS"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_API_CLIENTS" data-test="button-admin-api-clients">
      <a ui-sref-active="active"
         ui-sref="admin.api-clients.list"
         uib-tooltip="{{::'ADMIN.MENU.API_CLIENTS' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-key"></i>
        <span translate="ADMIN.MENU.API_CLIENTS"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_TERMS" data-test="button-admin-terms-of-use">
      <a ui-sref-active="active"
         ui-sref="admin.terms"
         uib-tooltip="{{::'ADMIN.MENU.TERMS' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-shield-security"></i>
        <span translate="ADMIN.MENU.TERMS"></span>
        </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_JOBS" data-test="button-admin-jobs">
      <a ui-sref-active="active"
         ui-sref="admin.jobs.list"
         uib-tooltip="{{::'ADMIN.MENU.JOBS' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-time"></i>
        <span translate="ADMIN.MENU.JOBS"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_STATISTICS" data-test="button-admin-reports">
      <a ui-sref-active="active"
         ui-sref="admin.statistics"
         uib-tooltip="{{::'ADMIN.MENU.STATISTICS' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-chart"></i>
        <span translate="ADMIN.MENU.STATISTICS"></span>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_LICENSE" data-test="button-admin-subscription">
      <a
          ng-if="$ctrl.tenantEnv && 'enterprise' !== $ctrl.tenantEnv"
          ui-sref-active="active"
          ui-sref="admin.license.subscription"
          uib-tooltip-html="::'ADMIN.MENU.SUBSCRIPTION' | translate"
          tooltip-placement="right"
          tooltip-append-to-body="true"
          tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-cloud-outline"></i>
        <span translate="ADMIN.MENU.SUBSCRIPTION"></span>
        <oyoc-license-indicator></oyoc-license-indicator>
      </a>
    </li>
    <li class="nav-sidebar-item" coyo-global-permissions="MANAGE_LICENSE" data-test="button-admin-server-license">
      <a
          ng-if="$ctrl.tenantEnv && 'cloud' !== $ctrl.tenantEnv"
          ui-sref-active="active"
          ui-sref="admin.license.license"
          uib-tooltip-html="::'ADMIN.MENU.LICENSE' | translate"
          tooltip-placement="right"
          tooltip-append-to-body="true"
          tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-tv-list"></i>
        <span translate="ADMIN.MENU.LICENSE"></span>
        <oyoc-license-indicator></oyoc-license-indicator>
      </a>
    </li>
    <li class="nav-sidebar-item mt-s" data-test="button-admin-exit">
      <a ui-sref="main"
         uib-tooltip="{{::'ADMIN.MENU.EXIT' | translate}}"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip-class="admin-sidebar-tooltip">
        <i class="zmdi zmdi-close-circle-o"></i>
        <span translate="ADMIN.MENU.EXIT"></span>
      </a>
    </li>
  </ul>
</nav>
