<li>
  <button type="button" class="btn btn-default btn-block" ui-sref="admin.launchpad.edit({id: $ctrl.category.id})">
    <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;<span translate="ADMIN.LAUNCHPAD.OPTIONS.EDIT.MENU"></span>
  </button>
</li>
<li class="divider"></li>
<li>
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deleteCategory($ctrl.category);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="ADMIN.LAUNCHPAD.OPTIONS.DELETE.MENU"></span>
  </button>
</li>
