// Account settings
// --------------------------------------------------

.panel-body-xs {
  padding: 10px 0 0;
}

.account-delete {
  background-color: $color-red;
  color: $color-white;
}

.click-to-change {
  cursor: pointer;
  padding: 5px;
}

.click-to-change-icon {
  color: $color-link;
}

.panel-body-loading-xs {
  padding: 10px !important;
}

.loading-right-mobile {
  padding: 14px;
}

// PushDevices
// --------------------------------------------------

.push-device-active-state-indicator {
  border-radius: 3px;
  color: $color-white;
  font-size: 12px;
  line-height: 1.5;
  padding: 2px 8px;
  text-align: center;
  text-transform: uppercase;
  min-width: 85px;
}

.push-device-active-state-active {
  background-color: $color-green;
}

.push-device-active-state-inactive {
  background-color: $color-red;
}

.push-devices-loading {
  text-align: center;
}

.no-push-devices {
  text-align: center;
}

.coyo-app-icon-frame {
  height: 24px;
  width: 24px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.coyo-app-icon {
  background-image: $image-coyo-app-icon;

  @include media-retina() {
    background-image: $image-coyo-app-icon-hd;
  }
}

.coyo-chat-app-icon {
  background-image: url($image-coyo-chat-app-icon);

  @include media-retina() {
    background-image: url($image-coyo-chat-app-icon-hd);
  }
}

.row-app-installation {
  background-color: $color-gray-lighter;
}

.label-app-installations {
  background-color: $color-gray-lighter;
  color: $color-gray-darker;
}

.push-device-chevron {
  cursor: pointer;
  outline: none;
}

.push-device-table {

  .shrink {
    width: 1%;
  }

  tr > td:first-child {
    min-width: 24px;
    text-align: center;
    width: 24px;
    i {
      min-width: 24px;
    }
  }

  tr > th:last-child {
    width: 44px;
  }

  tr > td:last-child {
    min-width: 20px;
    text-align: right;
    width: 20px;
    &.no-devices-found {
      text-align: center;
    }
  }

  tr > td {
    &.push-device-toggle-wrapper,
    &.coyo-app-icon-wrapper {
      padding-right: 4px;
    }

    &.device-name,
    &.app-name {
      padding-left: 4px;
    }

    &.app-name {
      vertical-align: middle;
    }
  }
}

// mobile
.push-app-installations-modal {

  ul.push-device-or-app-installation {

    > li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: $color-white;

      .device-name-and-created-box {
        display: flex;
        flex-direction: column;

        .device-name {
          flex-grow: 1;
          font-size: 16px;
          order: 1;
        }

        .device-created {
          color: $color-gray;
          flex-grow: 1;
          font-size: 16px;
          order: 2;
        }

      }

      .push-device-apps-status-box {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        flex-grow: 2;
        & > span:not(:first-child) {
          margin-left: 16px;
        }
      }

      .push-device-chevron-box {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-grow: 0;
        i {
          margin: 0 4px 0 16px;
          display: block;
        }
      }
    }

    .modal-mobile-app-option {
      background-color: $color-gray-lighter;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .app-icon-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 0;
        margin-right: 16px;
      }

      .app-type-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
      }

      .app-status-box {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        flex-grow: 1;
        margin-right: 30px;
      }
    }

  }
}
