<div class="form-group">
  <label class="col-sm-2 control-label" translate="MODULE.PAGES.AUTO_SUBSCRIBE.LABEL"></label>
  <div class="col-sm-10">
    <div class="radio">
      <label>
        <input name="autoSubscribeType"
               type="radio"
               ng-model="$ctrl.page.autoSubscribeType"
               ng-change="$ctrl.onSelectionChange()"
               value="NONE"
               data-test="radio-subscription-off">
        {{::'MODULE.PAGES.AUTO_SUBSCRIBE.OPTIONS.NONE.LABEL' | translate}}<br>
        <span class="text-muted" translate="MODULE.PAGES.AUTO_SUBSCRIBE.OPTIONS.NONE.DESCRIPTION"></span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input name="autoSubscribeType"
               type="radio"
               ng-model="$ctrl.page.autoSubscribeType"
               ng-change="$ctrl.onSelectionChange()"
               value="ALL"
               data-test="radio-subscription-everyone">
        {{::'MODULE.PAGES.AUTO_SUBSCRIBE.OPTIONS.ALL.LABEL' | translate}}<br>
        <span class="text-muted" translate="MODULE.PAGES.AUTO_SUBSCRIBE.OPTIONS.ALL.DESCRIPTION"></span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input name="autoSubscribeType"
               type="radio"
               ng-model="$ctrl.page.autoSubscribeType"
               ng-change="$ctrl.onSelectionChange()"
               value="SELECTED"
               data-test="radio-subscription-selected">
        {{::'MODULE.PAGES.AUTO_SUBSCRIBE.OPTIONS.SELECTED.LABEL' | translate}}<br>
        <span class="text-muted" translate="MODULE.PAGES.AUTO_SUBSCRIBE.OPTIONS.SELECTED.DESCRIPTION"></span>
        <div class="mt-xs" ng-if="$ctrl.page.autoSubscribeType === 'SELECTED'">
          <coyo-user-chooser ng-model="$ctrl.autoSubscriptions"
                             min="1"
                             on-selection-changed="$ctrl.onUsersSelected()"
                             users-field="autoSubscribeUserIds"
                             groups-field="autoSubscribeGroupIds"
                             data-test="button-select-user"></coyo-user-chooser>
        </div>
      </label>
    </div>
    <div class="alert alert-warning m-s text-center" ng-show="$ctrl.showWarning" translate="MODULE.PAGES.AUTO_SUBSCRIBE.WARNING">
    </div>
  </div>
</div>
