<div>
  <div class="modal-header">
    <h3 class="modal-title">
      {{::$ctrl.title}}
    </h3>
    <span class="modal-close" ng-click="$close($ctrl.updated)"
          aria-label="{{:: 'FILE_DETAILS.CLOSE.ARIA' | translate}}">
      <i class="zmdi zmdi-close img-close"></i>
    </span>
  </div>
  <div class="image">
    <img ng-src="{{::$ctrl.imageUrl}}" alt="{{::$ctrl.title}}"/>
  </div>
</div>
