@import "variables";
@import "mixins";

:host {

  .refresh-button {
    float: right;
    margin-top: -10px;
    margin-right: -10px;

    mat-icon {
      width: 20px;
      height: 20px;
    }
  }
}
