@import "variables";

.user-chooser-wrapper {

  display: flex;
  flex-direction: column;
  height: 80vh; // maybe there is a better solution...
  min-height: 500px;

  .main-step {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;

    .main-step-wrapper {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      max-height: 100%;
      min-height: 100%;

      .selection-area {
        border-right: 1px solid $n50;
        display: flex;
        flex-direction: column;
        width: 60%;

        @media screen and (max-width: $screen-md-min) {
          width: 100%;
          border-right: none;
        }

        .panel-title {
          text-align: center;

          @media screen and (max-width: $screen-md-min) {
            font-size: 20px;
          }
        }

        .panel-body {
          padding-bottom: 0;
        }
      }
    }
  }

  .review-area,
  .review-area-mobile {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-height: 100%;
    min-height: 0;
    position: relative;
    width: 40%;

    @media screen and (max-width: $screen-md-min) {
      width: 100%;
    }

    .panel-heading {
      text-align: center;

      @media screen and (min-width: $screen-xs-min) {
        padding: 32px 12px 24px;
        text-align: left;
      }

      .panel-title {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .form-action-buttons {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: $screen-md-min) {
      padding: 18px;
    }

    button {
      margin-left: 8px;
      @media screen and (max-width: $screen-md-min) {
        margin-left: 0;
      }
    }
  }

  .search-container {
    position: relative;
    margin-bottom: 24px;

    input {
      background-color: $n35;
      border-radius: 4px;
      border: none;
      color: $n200;
      font-size: 15px;
      height: 32px;
      padding-left: 36px;
      transition: all .25s ease;
      width: 100%;

      @media screen and (min-width: $screen-xs-min) {
        height: 40px;
      }

      &::placeholder {
        color: $n100;
      }

      &:focus {
        box-shadow: inset 0 0 0 2px $color-primary;
        background-color: $n0;
      }
    }

    mat-icon {
      position: absolute;
      left: 10px;
      top: 2px;
      color: $n200;

      @media screen and (min-width: $screen-xs-min) {
        top: 6px;
      }
    }
  }

  .panel-heading {
    padding: 24px 0 16px;

    @media screen and (min-width: $screen-xs-min) {
      padding: 32px 30px 24px;
    }

    .panel-title {
      line-height: 28px;
      font-size: 24px;
      font-weight: normal;
      // Overwrite Ellipsis() text truncation behaviour from global panel.scss
      white-space: normal;
      text-overflow: initial;
    }
  }

  .panel-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    padding-top: 6px;

    @media screen and (max-width: $screen-md-min) {
      padding-bottom: 12px;
    }

    &.user-chooser-help {
      align-items: center;
      justify-content: center;

      .help-text {
        color: $n200;
        margin-top: 24px;
        max-width: 220px;
        text-align: center;

        .divider-wrapper {
          display: flex;
          justify-content: center;
          min-width: 100%;
          padding: 4px 0;

          coyo-divider {
            min-width: 110px;
            text-transform: lowercase;
          }
        }
      }
    }
  }

  .panel-footer {
    border-top: none;
    padding-top: 0;
  }
}
