@import "variables";

.timeline-stream {
  display: flex;
  flex-direction: column;
  line-height: $widget-line-height;

  .btn-load-new,
  .btn-load-more {
    align-self: center;
    margin: 0 0 24px 0;
  }
}

.most-recent-items-divider {
  margin: 0 0 24px 0;
  display: flex;

  .line {
    border-bottom: 1px solid $n75;
    display: inline-block;
    flex: 1;
    height: 13px;
  }

  .text {
    padding: 0 16px;
    text-transform: uppercase;
    color: $n100;

    span {
      vertical-align: top;
    }
  }
}
