// Mixins - Buttons
// --------------------------------------------------

// example usage:
// @include coyo-navbar-dropdown-padding()
@mixin coyo-navbar-dropdown-padding {
  top: 43px;
  margin-top: 18px;
}