<section class="pages-create">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" translate="MODULE.PAGES.CREATE.TITLE"></h3>
      <coyo-manage-translations current="$ctrl.currentLanguage"
                                default="$ctrl.page.defaultLanguage"
                                languages="$ctrl.languages"></coyo-manage-translations>
    </div>

    <!-- Wizard -->
    <div class="panel-body hidden-xs">
      <coyo-wizard states="$ctrl.wizard.states" active="$ctrl.wizard.active"></coyo-wizard>
    </div>

    <!-- Step 1 -->
    <form name="pageForm1" class="form-horizontal" coyo-form-submit="$ctrl.next(pageForm1)" ng-show="$ctrl.wizard.active == 0">
      <div class="panel-body">
        <div class="form-group"
             ng-class="{'has-error': pageForm1['name-' + key].$invalid && pageForm1['name-' + key].$touched}"
             ng-repeat="(key, value) in $ctrl.languages"
             ng-if="$ctrl.isTranslationRequired(key)"
             ng-show="value.active && (key === $ctrl.currentLanguage || key === 'null')">
          <label for="name-{{key}}" class="col-sm-2 control-label">
            {{:: "PAGE.NAME.LABEL" | translate }}&nbsp;
            <coyo-country-flag country="key" form="rounded" dependent-to-translations="true"></coyo-country-flag>
          </label>
          <div class="col-sm-9">
            <div class="input-group">
              <input id="name-{{key}}" name="name-{{key}}" type="text" class="form-control"
                     ng-model="$ctrl.languages[key].translations.name"
                     maxlength="255"
                     ng-required="true"
                     ng-change="$ctrl.updateValidity(key, pageForm1['name-' + key].$valid)"
                     coyo-check-page-name
                     ng-model-options="{ updateOn: 'default blur', debounce: {'default': $root.debounce.sm, 'blur': 0} }"
                     data-test="input-name">
              <div class="input-group-addon">
                <coyo-validation-status-icon form-field="pageForm1['name-' + key]"></coyo-validation-status-icon>
              </div>
            </div>
            <ng-messages class="help-block validation" for="pageForm1['name-' + key].$error">
              <p ng-message="required" translate="ERRORS.VALIDATION.REQUIRED"></p>
              <p ng-message="pageName" translate="ERRORS.VALIDATION.ALREADY_TAKEN"></p>
            </ng-messages>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="PAGE.NAME.HELP"></coyo-help>
          </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error': pageForm1['page-description-' + key].$invalid && pageForm1['page-description-' + key].$touched}"
             ng-repeat="(key, value) in $ctrl.languages"
             ng-if="$ctrl.isTranslationRequired(key)"
             ng-show="value.active && (key === $ctrl.currentLanguage || key === 'null')">
          <label for="page-description-{{key}}" class="col-sm-2 control-label">
            {{:: "PAGE.DESCRIPTION.LABEL" | translate }}&nbsp;
            <coyo-country-flag country="key" form="rounded" dependent-to-translations="true"></coyo-country-flag>
          </label>
          <div class="col-sm-9">
            <textarea id="page-description-{{key}}"
                      name="page-description-{{key}}"
                      class="description form-control resize-v"
                      ng-model="$ctrl.languages[key].translations.description"
                      ng-model-options="{ updateOn: 'default blur', debounce: {'default': $root.debounce.sm, 'blur': 0} }"
                      rows="3"
                      data-test="textarea-page-description"></textarea>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="PAGE.DESCRIPTION.HELP"></coyo-help>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" translate="PAGE.CATEGORY.LABEL"></label>
          <div class="col-sm-9" data-test="select-page-category">
            <coyo-select-page-category ng-model="$ctrl.page.categories" placeholder="PAGE.CATEGORY.NONE"></coyo-select-page-category>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="PAGE.CATEGORY.HELP"></coyo-help>
          </div>
        </div>
      </div>
      <div class="panel-footer panel-actions">
        <div class="row">
          <div class="col-sm-10 col-sm-push-2">
            <a ui-sref="main.page" class="btn btn-default">
              <i class="zmdi zmdi-hc-fw zmdi-close"></i>&nbsp;{{:: 'CANCEL' | translate}}
            </a><!--
         --><coyo-form-submit-button label="CONTINUE" form-ctrl="pageForm1" icon="zmdi-arrow-right" data-test="button-page-creation-general"></coyo-form-submit-button>
          </div>
        </div>
      </div>
    </form>

    <!-- Step 2 -->
    <form name="pageForm2" class="form-horizontal" coyo-form-submit="$ctrl.next(pageForm2)" ng-show="$ctrl.wizard.active == 1">
      <div class="panel-body">
        <div class="form-group mb-m" ng-class="{'has-error': pageForm2.admins.$invalid}">
          <label class="col-sm-2 control-label" translate="PAGE.ADMINS.LABEL"></label>
          <div class="col-sm-9">
            <coyo-user-chooser name="admins" ng-model="$ctrl.page" users-field="adminIds" groups-field="adminGroupIds" min="1"
                               ng-model-options="{allowInvalid: true}" internal-only="true"></coyo-user-chooser>
            <ng-messages for="pageForm2.admins.$error" class="help-block validation">
              <p ng-message="min" translate="ERRORS.VALIDATION.MIN" translate-values="{min: 1}"></p>
            </ng-messages>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="PAGE.ADMINS.HELP"></coyo-help>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" translate="PAGE.VISIBILITY.LABEL"></label>
          <div class="col-sm-10">
            <div class="radio" coyo-global-permissions="CREATE_PUBLIC_PAGE">
              <label>
                <input name="visibility" type="radio" ng-model="$ctrl.page.visibility" value="PUBLIC" data-test="radio-page-public">
                <i class="zmdi zmdi-hc-fw zmdi-globe"></i>&nbsp;{{:: 'PAGE.VISIBILITY.PUBLIC.LABEL' | translate}}
                <p class="help-block" translate="PAGE.VISIBILITY.PUBLIC.HELP"></p>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="visibility" type="radio" ng-model="$ctrl.page.visibility" value="PRIVATE" data-test="radio-page-private">
                <i class="zmdi zmdi-hc-fw zmdi-eye-off"></i>&nbsp;{{:: 'PAGE.VISIBILITY.PRIVATE.LABEL' | translate}}<br>
                <p class="help-block" translate="PAGE.VISIBILITY.PRIVATE.HELP"></p>
                <coyo-user-chooser ng-model="$ctrl.page" users-field="memberIds" groups-field="memberGroupIds" ng-if="$ctrl.page.visibility == 'PRIVATE'" class="mb-xxs" data-test="coyo-user-chooser-visibility-private"></coyo-user-chooser>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer panel-actions">
        <div class="row">
          <div class="col-sm-10 col-sm-push-2">
            <a ng-click="$ctrl.back()" class="btn btn-default">
              <i class="zmdi zmdi-hc-fw zmdi-arrow-left"></i>&nbsp;{{:: 'BACK' | translate}}
            </a>
            <coyo-form-submit-button ng-if="$ctrl.wizard.states.length > 2"
                                    label="CONTINUE"
                                    form-ctrl="pageForm2"
                                    icon="zmdi-arrow-right"
                                    data-test="button-page-creation-access"></coyo-form-submit-button>
            <coyo-form-submit-button ng-if="$ctrl.wizard.states.length === 2"
                                    label="CREATE"
                                    form-ctrl="pageForm2"
                                    data-test="button0-page-creation-2"></coyo-form-submit-button>
          </div>
        </div>
      </div>
    </form>

    <!-- Step 3 -->
    <form name="pageForm3" class="form-horizontal" coyo-form-submit="$ctrl.next(pageForm3)" ng-show="$ctrl.wizard.active == 2">
      <div class="panel-body">
        <oyoc-page-auto-subscribe-settings page="$ctrl.page"></oyoc-page-auto-subscribe-settings>
      </div>

      <div class="panel-footer panel-actions">
        <div class="row">
          <div class="col-sm-10 col-sm-push-2">
            <a ng-click="$ctrl.back()" class="btn btn-default">
              <i class="zmdi zmdi-hc-fw zmdi-arrow-left"></i>&nbsp;{{:: 'BACK' | translate}}
            </a><!--
         --><coyo-form-submit-button label="CREATE" form-ctrl="pageForm3" data-test="button-page-creation-subscription"></coyo-form-submit-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
