<div class="panel page-imprint">
  <div class="imprint-edit-content" ng-show="$ctrl.page._permissions.manage">
    <div class="edit-header">
      <div class="btn btn-link">
        <a ng-click="$ctrl.cancel()" ng-if="$ctrl.editMode">
          <i class="zmdi zmdi-close"></i>
          <span translate="CANCEL"></span>
        </a>
      </div>
      <div class="btn btn-link edit-header right" ng-class="{'btn-primary': $ctrl.editMode}">
        <a ng-click="$ctrl.edit()">
          <i ng-if="!$ctrl.editMode" class="zmdi zmdi-edit"></i>
          <span ng-if="!$ctrl.editMode" translate="EDIT"></span>
        </a>
        <a ng-click="$ctrl.save()">
          <i ng-if="$ctrl.editMode" class="zmdi zmdi-hc-fw zmdi-check"></i>
          <span ng-if="$ctrl.editMode" translate="SAVE"></span></a>
      </div>
    </div>
  </div>
  <div class="panel-heading imprint-heading">
    <h3 class="panel-title"
        translate="PAGE.IMPRINT"></h3>
    <span class="text-uppercase" translate="PAGE.IMPRINT.ADMINS"></span>
  </div>
  <div class="panel-body ">
    <div class="page-imprint-admins">
      <div class="admin-panel" ng-hide="$ctrl.loading" ng-repeat="admin in $ctrl.admins | orderBy:'lastname' ">
        <coyo-user-avatar avatar-size="sm" [user]="admin"></coyo-user-avatar>
        <div class="admin-name-job-title">
          <h5 class="name">{{admin.displayName}}</h5>
          <div class="job-title">{{admin.properties.jobTitle}}</div>
        </div>
      </div>
    </div>
    <coyo-widget-layout layout-name="page-imprint-{{$ctrl.page.id}}"
                        parent="$ctrl.page"
                        can-manage="$ctrl.page._permissions.manage"
                        render-style="plain"
                        global-events="false"></coyo-widget-layout>
  </div>
</div>