<div class="timeline-form-attachment"
     *ngFor="let attachment of selectedAttachments"
     [ngClass]="{uploading: attachment.isUploading, done: attachment.isUploaded}">
  <coyo-attachment [fileItem]="attachment"
                  (removedFileItem)="removeAttachment($event)" data-test="coyo-attachment"></coyo-attachment>
</div>
