// Account notification settings
// --------------------------------------------------

.account-notification-settings {
  .table-settings {
    margin-top: -1px;
    margin-bottom: 0;
  }

  .sub-settings-modal {
    margin-left: 38px;
    margin-top: 5px;
  }

  .alert {
    margin-bottom: 5px;
  }
}
