@import "variables";
@import "mixins";

:host {
  display: none;
  position: fixed;
  width: 180px;

  @include sm-and-up() {
    display: block;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/**
 * ===== 2-columns view styles
 */

:host-context(.columns) {
  display: none;
}
