<div class="panel panel-default configure-fields">
  <div class="panel-nav panel-heading panel-heading-configure">
    <a class="btn-back panel-heading-item" ui-sref="{{::$ctrl.backState}}"><i class="zmdi zmdi-hc-fw zmdi-arrow-left"></i><span translate="BACK"></span></a>
    <a ng-click="$ctrl.createField()" class="pull-right heading-button panel-heading-item">
      <i class="zmdi zmdi-hc-fw zmdi-plus-circle"></i>
      <span class="hidden-xs" translate="APP.COMMONS.FIELD.ADD"></span>
    </a>
  </div>
  <div class="panel-body">
    <h3 translate="APP.COMMONS.FIELDS.CONFIGURE"></h3>

    <section class="app-fields"
             ng-if="$ctrl.fields.length > 0"
             ui-tree="::$ctrl.treeOptions"
             ui-tree-nodes ng-model="$ctrl.fields"
             data-empty-placeholder-enabled="false">

      <div class="app-field-header">
        <span class="field-header field-header-type" translate="APP.COMMONS.FIELDS.CONFIGURE.TYPE"></span>
        <span class="field-header field-header-name" translate="APP.COMMONS.FIELDS.CONFIGURE.LABEL"></span>
      </div>
      <div class="app-field" ng-repeat="field in $ctrl.fields" ui-tree-node>
        <i class="field-icon zmdi zmdi-hc-2x" ng-class="::$ctrl.getIcon(field.key)"></i>
        <span class="field-type">{{::$ctrl.getFieldType(field.key) | translate}}</span>
        <span class="field-name" title="{{field.name}}">{{field.name}}</span>
        <span class="field-handle btn btn-zmdi btn-link btn-move" ui-tree-handle><i class="zmdi zmdi-swap-vertical"></i></span>
        <coyo-context-menu class="field-options" align-right="true">
          <li>
            <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.editField(field)">
              <i class="zmdi zmdi-hc-fw zmdi-edit"></i><span translate="EDIT"></span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.deleteField(field)">
              <i class="zmdi zmdi-hc-fw zmdi-delete"></i><span translate="DELETE"></span>
            </button>
          </li>
        </coyo-context-menu>
      </div>

    </section>

    <oyoc-no-fields-message ng-if="$ctrl.fields.length <= 0" create-fn="$ctrl.createField()"></oyoc-no-fields-message>
  </div>
</div>
