<coyo-sender-avatar [sender]="sender" avatarSize="sm" [noLink]="true" class="pull-left"></coyo-sender-avatar>
<div class="sender-name" [ngOptionHighlight]="searchTerm" data-test="sender-option-name">{{sender.displayName}}</div>
<div class="sender-subline">
  <small class="text-muted">{{subline$ | async}}</small>
</div>
