@import "variables";
@import "mixins";

.attachment-previews {
    overflow: hidden;
    height: auto;
    margin: -2px;

    .attachment-previews-title {
      padding: 4px;
    }

    .item-attachment {
      width: 33.33%;
      float: left;
      padding-bottom: 33.33%;
      position: relative;
      overflow: hidden;

      @media print, screen and (min-width: $screen-xs-min) {
        width: 25%;
        padding-bottom: 25%;
      }

      coyo-file-preview {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 2px;
        float: left;
        text-align: center;
      }

      &:not(.same-size) {
        &:first-of-type {
          width: 100%;
          padding-bottom: 50%;

          &.single-file {
            padding-bottom: 0;
            overflow: hidden;

            coyo-file-preview {
              position: static;
              height: auto;
              border: 0 none;
            }
          }
          .pi-spinner-container {
            padding-bottom: 25px;
          }
        }
      }
    }
  }

  .attachment-list {
    padding: 15px 4px 0 0;

    .attachment-list-title {
      padding: 4px;
    }

    .item-attachment {
      clear: both;
      display: flex;
      padding: 4px 0;
      transition: color .6s ease;
      will-change: color;

      .loading-icon {
        display: none;
      }

      &.loading {
        cursor: wait;
        color: $color-gray-dark;

        .loading-icon {
          display: inline-block;
          & + coyo-file-icon {
            display: none;
          }
        }
      }

      .item-attachment-icon {
        color: $color-black;
        flex: none;
        padding-right: 4px;
        transition: all .6s ease;
      }

      .item-attachment-name {
        flex: 1;
        padding-right: 5px;
        @include ellipsis();
      }

      .item-attachment-length {
        color: $color-gray;
        flex: none;
      }
    }
  }
