.event-tab-participants {
  coyo-user-card {
    .participant-status {
      position: absolute;
      top: 40px;
      left: 45px;
      border-radius: 100%;
      height: 24px;
      width: 24px;
      font-size: 22px;
      text-align: center;
      border: 2px solid $color-white;
      display: block;
      color: $color-white;
      line-height: 20px;
      @include box-shadow(0, -2px, 0, 0, rgba(0, 0, 0, .1), true);

      @media screen and (min-width: $screen-sm-min) {
        top: 45px;
        left: 50px;
      }

      @media print, screen and (min-width: $screen-md-min) {
        top: 55px;
        left: 65px;
      }

      &.pending {
        background-color: $color-gray-lighter;

        &::before {
          content: '\f1f5';
          font-family: 'Material-Design-Iconic-Font';
          color: $color-primary;

        }
      }

      &.attending {
        background-color: $color-green;
        font-size: 11px;

        &::before {
          content: '\f26b';
          font-family: 'Material-Design-Iconic-Font';
        }
      }

      &.maybe_attending {
        background-color: $color-white;

        &::before {
          content: '\f268';
          font-family: 'Material-Design-Iconic-Font';
          color: $color-orange;
        }
      }

      &.not_attending {
        background-color: $color-gray;

        &::before {
          content: '\f134';
          font-family: 'Material-Design-Iconic-Font';
        }
      }
    }
  }
}