<div class="col-sm-9" ng-if="$ctrl.status === false">
          <span class="form-text">
            <span class="state valid" translate="ADMIN.LICENSE.STATUS.VALID"
                  ng-class="{'warn': ($ctrl.validDays !== null && $ctrl.validDays < 30)}"></span>&nbsp;
            <span translate="ADMIN.LICENSE.STATUS.EXPIRES" ng-if="$ctrl.validDays !== null"
                  translate-value-expiry="{{$ctrl.validDays}}"></span>
          </span>
</div>
<div class="col-sm-9" ng-if="$ctrl.status === 'TIME'">
          <span class="form-text">
            <span class="state invalid" translate="ADMIN.LICENSE.STATUS.INVALID"></span>&nbsp;
            <span translate="ADMIN.LICENSE.STATUS.EXPIRED" translate-value-expiry="{{-$ctrl.validDays}}"></span>
          </span>
</div>