@import "variables";

:host {
  display: block;
}

.btn-show-all {
  display: flex;
  margin: 24px auto 48px;

  .extended {
    transform: scale(1, -1);
  }
}

.app-row {
  display: flex;
  flex-direction: row;
}

.launchpad-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  color: $n200;
  font-size: 14px;
  line-height: 24px;
  position: relative;

  .mat-icon {
    width: 40px;
    height: 40px;
  }
}

.app-row-message-badge {
  display: flex;
  align-items: center;
}

.unread-messages {
  background-color: $coyo-notification-badge-background-color;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  animation: bubbleScaleIn .5s ease-in-out;
  will-change: transform;
}

@keyframes bubbleScaleIn {
  0% { transform: scale(0); }
  33% { transform: scale(1.25); }
  66% { transform: scale(0.5); }
  100% { transform: scale(1); }
}
