<coyo-sender-avatar [sender]="sender" [avatarSize]="avatarSize" aria-hidden="true"
                    [noLink]="noLink"></coyo-sender-avatar>
<div class="line-container">
  <coyo-sender-link [sender]="sender" *ngIf="!noLink; else displayName" class="headline"></coyo-sender-link>
  <ng-template #displayName>
    <span class="headline">{{sender.displayName}}</span>
  </ng-template>
  <small *ngIf="subline" class="subline text-muted">{{subline}}</small>
</div>
