<div class="panel panel-sm user-card-external">
  <div class="user-card-heading panel-body">
    <div class="user-card-heading-text">
      <h4 class="user-card-title" title="{{::$ctrl.email}}">{{::$ctrl.email}}</h4>
      <span class="user-card-subtitle">{{::'WORKSPACE.MEMBER.EXTERNAL.INVITATION' | translate}} </span>
      <ng-transclude ng-transclude-slot="header"></ng-transclude>
    </div>
  </div>

  <div ng-if="::$ctrl.bodySlotPresent" class="panel-body hidden-sm hidden-xs" ng-transclude
       ng-transclude-slot="body"></div>
</div>