@mixin icon-list($padding) {
  > div {
    padding-right: $padding;

    &:last-child {
      padding-right: 0;
    }
  }
}

@mixin icon($color, $hover-color, $cursor) {
  i {
    color: $color;

    &:hover, &:focus {
      cursor: $cursor;
      color: $hover-color;
    }
  }
}

@mixin icon-error() {
  &.has-error, i.has-error {
    color: $r400;
  }
}
