<div class="app-no-fields">
    <span class="app-icon-big">
        <i class="zmdi zmdi-hc-fw {{::$ctrl.icon}}"></i>
    </span>
    <span class="app-empty-text text-muted" translate="{{::$ctrl.message}}"></span>
</div>