<div class="admin-jobs" ng-cloak>

    <div class="text-center mv-m" ng-show="$ctrl.loading">
        <coyo-spinner></coyo-spinner>
    </div>

    <div ng-if="!$ctrl.loading">

        <div class="panel panel-default panel-groups panel-list">

            <div class="panel-heading">
                <a class="btn btn-primary pull-right" ng-if="!$ctrl.isMobile" ng-click="$ctrl.refresh()">
                    <i class="zmdi zmdi-hc-fw zmdi-refresh"></i>&nbsp;{{:: 'REFRESH' | translate }}
                </a>
                <h3 class="panel-title">
                    {{::'ADMIN.MENU.JOBS' | translate }}
                </h3>
            </div>

            <div class="panel-body">

                <!-- mobile view -->
                <ul ng-if="$ctrl.isMobile" class="list-group">
                    <li ng-if="$ctrl.page.content.length"
                        class="list-group-item text-center text-muted pv-s"
                        translate="ADMIN.JOBS.EMPTY"></li>
                    <li ng-repeat="row in $ctrl.jobs track by row.name"
                        id="group-row-{{$index}}" class="list-group-item">
                        <div>{{:: row.displayName }}</div>
                        <coyo-job-status job-status="row.jobStatus"
                                         link-to-jobs="true"
                                         compact="true"
                                         label-unknown-progress="{{:: 'ADMIN.JOBS.JOB.RUNNING' | translate }}">
                        </coyo-job-status>
                    </li>
                </ul>
                <coyo-context-menu ng-repeat="row in $ctrl.jobs track by row.name"
                                   ng-if="$ctrl.isMobile"
                                   toggle-element="#group-row-{{:: $index }}"
                                   title="{{:: row.displayName }}">
                    <oyoc-job-options job="row"></oyoc-job-options>
                </coyo-context-menu>

                <!-- desktop view -->
                <table ng-if="!$ctrl.isMobile" class="table table-striped table-hover m-0">
                    <thead>
                    <tr>
                        <th translate="ADMIN.JOBS.HEADINGS.NAME"></th>
                        <th translate="ADMIN.JOBS.HEADINGS.STARTTIME" ng-if="!$ctrl.isMobile"></th>
                        <th translate="ADMIN.JOBS.HEADINGS.STATUS" class="column-status"></th>
                        <th class="column-options"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="$ctrl.jobs.length">
                        <td colspan="3" class="text-center text-muted" translate="ADMIN.JOBS.EMPTY"></td>
                    </tr>
                    <tr ng-repeat="row in $ctrl.jobs track by row.name">
                        <td>{{:: row.displayName }}</td>
                        <td ng-if="!$ctrl.isMobile">
                            {{:: row.jobStatus.startTime | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.short + ' ' + $root.timeFormat.short }}
                        </td>
                        <td class="column-status">
                            <coyo-job-status job-status="row.jobStatus"
                                             job-name="row.name"
                                             compact="true"
                                             link-to-jobs="true"
                                             label-unknown-progress="{{:: 'ADMIN.JOBS.JOB.RUNNING' | translate }}">
                            </coyo-job-status>
                        </td>
                        <td class="column-options">
                            <coyo-context-menu align-right="true">
                                <oyoc-job-options job="row" refresh="$ctrl.refresh()" job-status="row.jobStatus"></oyoc-job-options>
                            </coyo-context-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-footer panel-actions" ng-if="$ctrl.isMobile" >
                <div class="row">
                    <div class="col-sm-10 col-sm-push-2">
                        <a ng-click="$ctrl.refresh()" class="btn btn-primary">
                            <i class="zmdi zmdi-hc-fw zmdi-refresh"></i>&nbsp;{{:: 'REFRESH' | translate }}
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
