.help-block-error {
  @extend .help-block;
  color: $color-red;
}

.help-block-successful {
  @extend .help-block;
  color: $color-green;
}

.connection-check .form-horizontal .control-label {
  padding-top: 0;
}

.help-block-code {
  display: block;
}
