<div [formGroup]="parentForm">
  <div class="form-group" [class.has-error]="isInvalid('url')">
    <label for="user" class="col-sm-2 control-label" translate="WIDGET.USERPROFILE.USER"></label>
    <div class="col-sm-10">
      <coyo-select-user-id-form-control id="user" formControlName="_selectedUser"></coyo-select-user-id-form-control>
    </div>
  </div>
  <div class="form-group">
    <label for="showInformation" class="col-sm-2 control-label" translate="WIDGET.USERPROFILE.SHOW.INFO"></label>
    <div class="col-sm-10">
        <mat-checkbox id="showInformation"
                      name="_showInfo" class="form-control"
                      formControlName="_showInfo">{{'WIDGET.USERPROFILE.SHOW.INFO.LABEL' | translate}}</mat-checkbox>
    </div>
  </div>
</div>
