<div [formGroup]="parentForm">
  <tabset [justified]="true">
    <tab [heading]="'WIDGET.POLL.CONFIG' | translate" id="tab1" (selectTab)="selectTab(1)">
      <div class="form-group"
           [ngClass]="{'has-error': parentForm.get('question').dirty && parentForm.get('question').invalid}">
        <label class="col-sm-3 control-label" translate="WIDGET.POLL.SETTINGS.CONFIG.QUESTION"></label>
        <div class="col-sm-8">
          <input name="question" class="form-control" type="text" maxlength="255" formControlName="question">
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="WIDGET.POLL.SETTINGS.CONFIG.QUESTION.HELP"></coyo-help>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" translate="WIDGET.POLL.SETTINGS.CONFIG.DESCRIPTION"></label>
        <div class="col-sm-8">
          <textarea name="description" rows="4" class="form-control" formControlName="description"></textarea>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="WIDGET.POLL.SETTINGS.CONFIG.DESCRIPTION.HELP"></coyo-help>
        </div>
      </div>

      <ng-container formArrayName="_options">
        <div class="form-group" *ngFor="let option of getOptions().controls; let $index = index"
             [formGroup]="option" [ngClass]="{'has-error': option.get('answer').dirty && option.get('answer').invalid}">
          <label class="col-sm-3 control-label"><span
            translate="WIDGET.POLL.SETTINGS.CONFIG.OPTION"></span> {{$index + 1}}</label>
          <div class="col-sm-8">
            <div [ngClass]="{'input-group': $index > 0 && !option.disabled}">
              <input id="{{'poll-settings-option-' + $index}}"
                     [name]="'poll-settings-option-' + $index"
                     #optionInput
                     class="form-control"
                     type="text"
                     maxlength="255"
                     formControlName="answer"
                     (keydown.enter)="onInputEnter($event,  option.get('answer').value)"
                     (keydown.backspace)="onInputBackspace($event,  option.get('answer').value, $index)">
              <span class="input-group-addon delete-option" *ngIf="$index > 0 && !option.disabled"
                    (click)="deleteOption($index)">
                  <i class="zmdi zmdi-delete"></i>
              </span>
            </div>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="WIDGET.POLL.SETTINGS.CONFIG.OPTION.HELP" *ngIf="$index == 0"></coyo-help>
          </div>
        </div>
      </ng-container>

      <div class="form-group">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-8">
          <button name="addOption" class="form-control add-button" type="button" (click)="addOption(true)">
            <i class="zmdi zmdi-plus-circle-o add-answer-icon"></i>
            <span translate="WIDGET.POLL.SETTINGS.CONFIG.ADDOPTION"></span>
          </button>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="WIDGET.POLL.SETTINGS.CONFIG.ADDOPTION.HELP"></coyo-help>
        </div>
      </div>
    </tab>
    <tab [heading]="'WIDGET.POLL.EXTENDEDOPTIONS' | translate" (selectTab)="selectTab(2)">
      <div class="form-group">
        <label class="col-sm-3 control-label" translate="WIDGET.POLL.SETTINGS.CONFIG.ANONYMOUS"></label>
        <div class="col-sm-8">
          <mat-checkbox name="annonymous" class="form-control"
                        formControlName="_anonymous"></mat-checkbox>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="WIDGET.POLL.SETTINGS.CONFIG.ANONYMOUS.HELP"></coyo-help>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': parentForm.get('_maxAnswers').invalid}">
        <label class="col-sm-3 control-label" translate="WIDGET.POLL.SETTINGS.CONFIG.MAXANSWERS"></label>
        <div class="col-sm-8">
          <input name="_maxAnswers" class="form-control" type="number" min="1" [max]="getOptions().length"
                 formControlName="_maxAnswers" required>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="WIDGET.POLL.SETTINGS.CONFIG.MAXANSWERS.HELP"></coyo-help>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" translate="WIDGET.POLL.SETTINGS.CONFIG.SHOWRESULTS"></label>
        <div class="col-sm-8">
          <mat-checkbox name="show-results" class="form-control"
                        formControlName="_showResults"></mat-checkbox>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="WIDGET.POLL.SETTINGS.CONFIG.SHOWRESULTS.HELP"></coyo-help>
        </div>
      </div>
      <hr/>
      <div class="form-group">
        <label class="col-sm-3 control-label" translate="WIDGET.POLL.SETTINGS.CONFIG.FROZEN"></label>
        <div class="col-sm-8">
          <mat-checkbox name="frozen" class="form-control"
                        formControlName="_frozen"></mat-checkbox>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="WIDGET.POLL.SETTINGS.CONFIG.FROZEN.HELP"></coyo-help>
        </div>
      </div>
    </tab>
    <tab [heading]="'WIDGET.POLL.RESULTS' | translate" *ngIf="widget.id" (selectTab)="selectTab(3)">
      <coyo-poll-widget *ngIf="updatedWidget$ | async as updatedWidget" [editMode]="true" [settingsMode]="true"
                        [widget]="updatedWidget"></coyo-poll-widget>
    </tab>
  </tabset>
</div>
