@import "variables";
@import "mixins";

$skeleton-widget-facegame-height: 420px; // height of the widget facegame skeleton

.container {
  width: 100%;
  padding: 0 25px;
}

.skeleton {
  width: 100%;
  height: $skeleton-widget-facegame-height;

  background-image:
    linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%),  /* highlight */
    radial-gradient( circle 55px at 50% 80px, $gray-lighter 99%, transparent 0 ), /* avatar */
    linear-gradient( $gray-lighter 40px, transparent 0 ),
    linear-gradient( $gray-lighter 40px, transparent 0 ),
    linear-gradient( $gray-lighter 40px, transparent 0 ),
    linear-gradient( $gray-lighter 40px, transparent 0 ),
    linear-gradient( $gray-lighter 15px, transparent 0 ),
    linear-gradient( $gray-lighter 5px, transparent 0 );


  background-repeat: no-repeat;

  background-size:
    50px $skeleton-widget-facegame-height, /* highlight */
    110px $skeleton-widget-facegame-height, /* avatar */
    220px $skeleton-widget-facegame-height,
    220px $skeleton-widget-facegame-height,
    220px $skeleton-widget-facegame-height,
    220px $skeleton-widget-facegame-height,
    60px $skeleton-widget-facegame-height,
    220px $skeleton-widget-facegame-height;

  background-position:
    0 0, /* highlight */
    50% 0,
    50% 180px,
    50% 225px,
    50% 270px,
    50% 315px,
    50% 380px,
    50% 405px;

  animation: skeleton-widget-facegame-shine 1.25s infinite;
}


@keyframes skeleton-widget-facegame-shine {
  to {
    background-position:
      100% 0, /* move highlight to right */
      50% 0,
      50% 180px,
      50% 225px,
      50% 270px,
      50% 315px,
      50% 380px,
      50% 405px;
  }
}
