@import "variables";
@import "mixins";

coyo-sender-link {
  font-size: 12px;
  font-weight: 300;
}

h4 {
  margin: 4px 0 16px 0;
  font-weight: 600;
  @include break-word();
}

:host-context(coyo-blog-article-view) {
  > * {
    padding: 0 24px;
  }
}

.title-subline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}

.publish-date {
  color: $n200;
}
