<div class="ribbon" [ngClass]="[ribbonType.className]">
  <p [translate]="ribbonType.messageKey"></p>
  <a href="#" [ngClass]="[ribbonType.className + '-btn']" (click)="click.emit()" *ngIf="ribbonType.hasButton">
    <i class="zmdi zmdi-check" aria-hidden="true"></i>
    <span class="sr-only" [translate]="ribbonType.ariaMessageKey"></span>
  </a>
</div>
