@import "variables";

.ribbon {
  user-select: none;
  cursor: default;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 76px;
  height: 76px;
  text-align: right;

  &.ribbon-new {
    z-index: 1;

    p {
      background: $coyo-ribbon-new-bg;

      &:before {
        border-top-color: $coyo-ribbon-new-bg-shadow;
        border-left-color: $coyo-ribbon-new-bg-shadow;
      }
      &:after {
        border-top-color: $coyo-ribbon-new-bg-shadow;
        border-right-color: $coyo-ribbon-new-bg-shadow;
      }
    }
  }
  &.ribbon-sticky {
    z-index: 2;

    p {
      background: $coyo-ribbon-sticky-bg;

      &:before {
        border-top-color: $coyo-ribbon-sticky-bg-shadow;
        border-left-color: $coyo-ribbon-sticky-bg-shadow;
      }
      &:after {
        border-top-color: $coyo-ribbon-sticky-bg-shadow;
        border-right-color: $coyo-ribbon-sticky-bg-shadow;
      }
    }
  }

  &.ribbon-archived {
    z-index: 2;

    p {
      background: $coyo-ribbon-archived-bg;

      &:before {
        border-top-color: $coyo-ribbon-archived-bg-shadow;
        border-left-color: $coyo-ribbon-archived-bg-shadow;
      }
      &:after {
        border-top-color: $coyo-ribbon-archived-bg-shadow;
        border-right-color: $coyo-ribbon-archived-bg-shadow;
      }
    }
  }

  @media print, screen and (min-width: $screen-md-min) {
    border-radius: $border-radius-base;
  }

  p, a {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    background: $color-blue;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 102px;
    display: block;
    position: absolute;
    top: 20px;
    right: -21px;
    margin: 0;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      z-index: -1;
      border: 3px solid darken($color-blue, 15%);
      border-right-color: transparent;
      border-bottom-color: transparent;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 100%;
      z-index: -1;
      border: 3px solid darken($color-blue, 15%);
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  a.ribbon-sticky-btn {
    background: $coyo-ribbon-read-bg;
    width: 54px;
    top: -7px;
    right: -18px;
    padding-top: 12px;

    &:before {
      border-top-color: $coyo-ribbon-read-bg-shadow;
      border-left-color: $coyo-ribbon-read-bg-shadow;
    }
    &:after {
      border-top-color: $coyo-ribbon-read-bg-shadow;
      border-right-color: $coyo-ribbon-read-bg-shadow;
    }
    &:hover {
      background: darken($coyo-ribbon-read-bg, 5%);
      cursor: pointer;
    }

    i {
      font-size: 12px;
      font-weight: bold;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}
