<div [formGroup]="parentForm" class="form-group" [class.has-error]="isInvalid('html_content')">
  <label class="col-sm-2 control-label" for="html_content" translate="WIDGET.HTML.SETTINGS.TEXT"></label>
  <div class="help-icon-wrapper col-sm-10 hidden-xs">
    <coyo-help tip="WIDGET.HTML.SETTINGS.TEXT.HELP"></coyo-help>
  </div>
  <div class="col-sm-12">
      <textarea name="html_content"
                formControlName="html_content"
                id="html_content"
                class="form-control resize-v"
                placeholder="<div>...</div>"
                [attr.aria-label]="'WIDGETS.BOOKMARKING.URL.ARIA' | translate"
                type="text"
                rows="10"
                coyoMention
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                aria-required="true"
                [attr.aria-invalid]="isInvalid('html_content')"></textarea>
    <div class="sr-only" *ngIf="isInvalid('html_content')">
      <coyo-validation-errors [errors]="parentForm.controls['html_content'].errors"></coyo-validation-errors>
    </div>
  </div>
</div>
