@import "variables";
@import 'mixins';

.avatar-item {

  @media print, screen and (min-width: $screen-md-min) {
    &:hover {
      background-color: $n35;
    }
  }
  width: 100%;
  align-items: center;
  padding: 16px 30px;
  display: flex;

  .avatar-item-container {
    margin-left: 16px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.headline {
  color: $n600;
  @include ellipsis();

}

.subline {
  font-size: 12px;
  @include ellipsis();
}
