@import "variables";

@import '~@coyo/ui/lib/mixins';
@import "../../../src/main/styles/mixins";
@import "components/mixins/buttons";
@import "components/mixins/icons";
@import "components/mixins/tabs";
@import "components/mixins/widgets";

// You can add your mixins here

/**
 * Allows easy definition of multiple columns of text.
 */
@mixin columns($columns, $column-gap: 0) {
  -webkit-columns: $columns;
  -moz-columns: $columns;
  columns: $columns;
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;
  column-gap: $column-gap;
}

/**
 * Makes text unselectable.
 */
@mixin no-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/**
 * Visually hides the content while keeping it accessible for tab focus.
 *
 * see: https://a11yproject.com/posts/how-to-hide-content/
 */
// TODO: we might be able to replace this with .cdk-visually-hidden from the CDK's a11y package
@mixin visually-hidden() {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

/**
 * Creates a loading skeleton.
 * DEPRECATED: use the skeleton component instead
 *
 * Usage:
 * @include skeleton((
 *   (x: 10px, y: 10px, width: 40px, height: 40px),
 *   (x: 60px, y: 10px, width: 60px, height: 15px),
 *   (x: calc(100% - 10px), y: 10px, width: 80px, height: 12px),
 *   (x: 10px, y: 60px, width: 80%, height: 12px),
 *   (x: 10px, y: 80px, width: 60%, height: 12px),
 *   (x: 10px, y: 100px, width: 90%, height: 12px)
 * ), 140px);
 *
 * Result:
 *  #### ######                        #########
 *  ####
 *
 *  ##################################
 *  ########################
 *  #########################################
 */
@mixin skeleton(
  $objects: (),
  $element-height: 150px,
  $color: $n35,
  $background: $n0,
  $highlight-height: $element-height
) {
  $positions: ();
  $gradients: ();
  $sizes: ();
  $rnd: unique-id();

  @each $obj in $objects {
    $positions: append($positions, #{map-get($obj, 'x') map-get($obj, 'y')}, 'comma');
    $gradients: append($gradients, linear-gradient($color #{map-get($obj, 'height')}, transparent 0), 'comma');
    $sizes: append($sizes, #{map-get($obj, 'width') $element-height}, 'comma');
  }

  @at-root {
    @keyframes loading-skeleton-animation-#{$rnd} {
      to {
        background-position: calc(100% + 50px) 0, #{$positions};
      }
    }
  }

  height: $element-height;
  background-image: linear-gradient(100deg, rgba($background, 0), rgba($background, 0.5) 50%, rgba($background, 0) 80%), #{$gradients};
  background-size: 50px $highlight-height, #{$sizes};
  background-position: 0 0, #{$positions};
  background-repeat: no-repeat;
  animation: loading-skeleton-animation-#{$rnd} 1.25s infinite;
}
